<p id="notice"><%= notice %></p>

<p>
  <strong>Estimate:</strong>
  <%= @estimate_line.estimate_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @estimate_line.item_id %>
</p>

<p>
  <strong>Item full name:</strong>
  <%= @estimate_line.item_full_name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @estimate_line.desc %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @estimate_line.quantity %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @estimate_line.unit_of_measure %>
</p>

<p>
  <strong>Override uom set:</strong>
  <%= @estimate_line.override_uom_set_id %>
</p>

<p>
  <strong>Override uom set full name:</strong>
  <%= @estimate_line.override_uom_set_full_name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @estimate_line.rate %>
</p>

<p>
  <strong>Rate percent:</strong>
  <%= @estimate_line.rate_percent %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @estimate_line.amount %>
</p>

<p>
  <strong>Inventory site:</strong>
  <%= @estimate_line.inventory_site_id %>
</p>

<p>
  <strong>Inventory site full name:</strong>
  <%= @estimate_line.inventory_site_full_name %>
</p>

<p>
  <strong>Inventory site location:</strong>
  <%= @estimate_line.inventory_site_location_id %>
</p>

<p>
  <strong>Inventory site location full name:</strong>
  <%= @estimate_line.inventory_site_location_full_name %>
</p>

<p>
  <strong>Sales tax code:</strong>
  <%= @estimate_line.sales_tax_code_id %>
</p>

<p>
  <strong>Sales tax code full name:</strong>
  <%= @estimate_line.sales_tax_code_full_name %>
</p>

<p>
  <strong>Markup rate:</strong>
  <%= @estimate_line.markup_rate %>
</p>

<p>
  <strong>Markup rate percent:</strong>
  <%= @estimate_line.markup_rate_percent %>
</p>

<%= link_to 'Back', estimate_lines_path %>
