<%= form_for(estimate) do |f| %>
  <% if estimate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estimate.errors.count, "error") %> prohibited this estimate from being saved:</h2>

      <ul>
      <% estimate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :txn_id %>
    <%= f.text_field :txn_id %>
  </div>

  <div class="field">
    <%= f.label :time_created %>
    <%= f.datetime_select :time_created %>
  </div>

  <div class="field">
    <%= f.label :time_modified %>
    <%= f.datetime_select :time_modified %>
  </div>

  <div class="field">
    <%= f.label :edit_sequence %>
    <%= f.text_field :edit_sequence %>
  </div>

  <div class="field">
    <%= f.label :txn_number %>
    <%= f.number_field :txn_number %>
  </div>

  <div class="field">
    <%= f.label :customer_id %>
    <%= f.text_field :customer_id %>
  </div>

  <div class="field">
    <%= f.label :class_id %>
    <%= f.text_field :class_id %>
  </div>

  <div class="field">
    <%= f.label :template_id %>
    <%= f.text_field :template_id %>
  </div>

  <div class="field">
    <%= f.label :txn_date %>
    <%= f.date_select :txn_date %>
  </div>

  <div class="field">
    <%= f.label :ref_number %>
    <%= f.text_field :ref_number %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr1 %>
    <%= f.text_field :bill_address_addr1 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr2 %>
    <%= f.text_field :bill_address_addr2 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr3 %>
    <%= f.text_field :bill_address_addr3 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr4 %>
    <%= f.text_field :bill_address_addr4 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr5 %>
    <%= f.text_field :bill_address_addr5 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_city %>
    <%= f.text_field :bill_address_city %>
  </div>

  <div class="field">
    <%= f.label :bill_address_state %>
    <%= f.text_field :bill_address_state %>
  </div>

  <div class="field">
    <%= f.label :bill_address_postal_code %>
    <%= f.text_field :bill_address_postal_code %>
  </div>

  <div class="field">
    <%= f.label :bill_address_country %>
    <%= f.text_field :bill_address_country %>
  </div>

  <div class="field">
    <%= f.label :bill_address_note %>
    <%= f.text_field :bill_address_note %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr1 %>
    <%= f.text_field :bill_address_block_addr1 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr2 %>
    <%= f.text_field :bill_address_block_addr2 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr3 %>
    <%= f.text_field :bill_address_block_addr3 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr4 %>
    <%= f.text_field :bill_address_block_addr4 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr5 %>
    <%= f.text_field :bill_address_block_addr5 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr1 %>
    <%= f.text_field :ship_address_addr1 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr2 %>
    <%= f.text_field :ship_address_addr2 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr3 %>
    <%= f.text_field :ship_address_addr3 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr4 %>
    <%= f.text_field :ship_address_addr4 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr5 %>
    <%= f.text_field :ship_address_addr5 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_city %>
    <%= f.text_field :ship_address_city %>
  </div>

  <div class="field">
    <%= f.label :ship_address_state %>
    <%= f.text_field :ship_address_state %>
  </div>

  <div class="field">
    <%= f.label :ship_address_postal_code %>
    <%= f.text_field :ship_address_postal_code %>
  </div>

  <div class="field">
    <%= f.label :ship_address_country %>
    <%= f.text_field :ship_address_country %>
  </div>

  <div class="field">
    <%= f.label :ship_address_note %>
    <%= f.text_field :ship_address_note %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr1 %>
    <%= f.text_field :ship_address_block_addr1 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr2 %>
    <%= f.text_field :ship_address_block_addr2 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr3 %>
    <%= f.text_field :ship_address_block_addr3 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr4 %>
    <%= f.text_field :ship_address_block_addr4 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr5 %>
    <%= f.text_field :ship_address_block_addr5 %>
  </div>

  <div class="field">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>

  <div class="field">
    <%= f.label :po_number %>
    <%= f.text_field :po_number %>
  </div>

  <div class="field">
    <%= f.label :terms_id %>
    <%= f.text_field :terms_id %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>

  <div class="field">
    <%= f.label :sales_rep_id %>
    <%= f.text_field :sales_rep_id %>
  </div>

  <div class="field">
    <%= f.label :fob %>
    <%= f.text_field :fob %>
  </div>

  <div class="field">
    <%= f.label :subtotal %>
    <%= f.text_field :subtotal %>
  </div>

  <div class="field">
    <%= f.label :item_sales_tax_id %>
    <%= f.text_field :item_sales_tax_id %>
  </div>

  <div class="field">
    <%= f.label :sales_tax_percentage %>
    <%= f.text_field :sales_tax_percentage %>
  </div>

  <div class="field">
    <%= f.label :sales_tax_total %>
    <%= f.text_field :sales_tax_total %>
  </div>

  <div class="field">
    <%= f.label :total_amount %>
    <%= f.text_field :total_amount %>
  </div>

  <div class="field">
    <%= f.label :currency_id %>
    <%= f.text_field :currency_id %>
  </div>

  <div class="field">
    <%= f.label :exchange_rate %>
    <%= f.text_field :exchange_rate %>
  </div>

  <div class="field">
    <%= f.label :total_amount_in_home_currency %>
    <%= f.text_field :total_amount_in_home_currency %>
  </div>

  <div class="field">
    <%= f.label :memo %>
    <%= f.text_area :memo %>
  </div>

  <div class="field">
    <%= f.label :customer_msg_id %>
    <%= f.text_field :customer_msg_id %>
  </div>

  <div class="field">
    <%= f.label :is_to_be_emailed %>
    <%= f.check_box :is_to_be_emailed %>
  </div>

  <div class="field">
    <%= f.label :customer_sales_tax_code_id %>
    <%= f.text_field :customer_sales_tax_code_id %>
  </div>

  <div class="field">
    <%= f.label :other %>
    <%= f.text_field :other %>
  </div>

  <div class="field">
    <%= f.label :external_guid %>
    <%= f.text_field :external_guid %>
  </div>

  <div class="field">
    <%= f.label :linked_txn_id %>
    <%= f.text_field :linked_txn_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
