<p id="notice"><%= notice %></p>

<h1>Estimates</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Time created</th>
      <th>Time modified</th>
      <th>Edit sequence</th>
      <th>Txn number</th>
      <th>Customer</th>
      <th>Customer full name</th>
      <th>Template</th>
      <th>Template full name</th>
      <th>Txn date</th>
      <th>Ref number</th>
      <th>Bill address addr1</th>
      <th>Bill address addr2</th>
      <th>Bill address addr3</th>
      <th>Bill address addr4</th>
      <th>Bill address addr5</th>
      <th>Bill address city</th>
      <th>Bill address state</th>
      <th>Bill address postal code</th>
      <th>Bill address country</th>
      <th>Bill address note</th>
      <th>Bill address block addr1</th>
      <th>Bill address block addr2</th>
      <th>Bill address block addr3</th>
      <th>Bill address block addr4</th>
      <th>Bill address block addr5</th>
      <th>Ship address addr1</th>
      <th>Ship address addr2</th>
      <th>Ship address addr3</th>
      <th>Ship address addr4</th>
      <th>Ship address addr5</th>
      <th>Ship address city</th>
      <th>Ship address state</th>
      <th>Ship address postal code</th>
      <th>Ship address country</th>
      <th>Ship address note</th>
      <th>Ship address block addr1</th>
      <th>Ship address block addr2</th>
      <th>Ship address block addr3</th>
      <th>Ship address block addr4</th>
      <th>Ship address block addr5</th>
      <th>Is active</th>
      <th>Po number</th>
      <th>Terms</th>
      <th>Terms full name</th>
      <th>Due date</th>
      <th>Sales rep</th>
      <th>Sales rep full name</th>
      <th>Fob</th>
      <th>Subtotal</th>
      <th>Item sales tax</th>
      <th>Item sales tax full name</th>
      <th>Sales tax percentage</th>
      <th>Sales tax total</th>
      <th>Total amount</th>
      <th>Memo</th>
      <th>Customer msg</th>
      <th>Customer msg full name</th>
      <th>Is to be emailed</th>
      <th>Customer sales tax code</th>
      <th>Customer sales tax code full name</th>
      <th>Linked txn</th>
      <th>Linked txn type</th>
      <th>Linked txn date</th>
      <th>Linked txn ref number</th>
      <th>Linked txn link type</th>
      <th>Linked txn amount</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.id %></td>
        <td><%= estimate.time_created %></td>
        <td><%= estimate.time_modified %></td>
        <td><%= estimate.edit_sequence %></td>
        <td><%= estimate.txn_number %></td>
        <td><%= estimate.customer_id %></td>
        <td><%= estimate.customer_full_name %></td>
        <td><%= estimate.template_id %></td>
        <td><%= estimate.template_full_name %></td>
        <td><%= estimate.txn_date %></td>
        <td><%= estimate.ref_number %></td>
        <td><%= estimate.bill_address_addr1 %></td>
        <td><%= estimate.bill_address_addr2 %></td>
        <td><%= estimate.bill_address_addr3 %></td>
        <td><%= estimate.bill_address_addr4 %></td>
        <td><%= estimate.bill_address_addr5 %></td>
        <td><%= estimate.bill_address_city %></td>
        <td><%= estimate.bill_address_state %></td>
        <td><%= estimate.bill_address_postal_code %></td>
        <td><%= estimate.bill_address_country %></td>
        <td><%= estimate.bill_address_note %></td>
        <td><%= estimate.bill_address_block_addr1 %></td>
        <td><%= estimate.bill_address_block_addr2 %></td>
        <td><%= estimate.bill_address_block_addr3 %></td>
        <td><%= estimate.bill_address_block_addr4 %></td>
        <td><%= estimate.bill_address_block_addr5 %></td>
        <td><%= estimate.ship_address_addr1 %></td>
        <td><%= estimate.ship_address_addr2 %></td>
        <td><%= estimate.ship_address_addr3 %></td>
        <td><%= estimate.ship_address_addr4 %></td>
        <td><%= estimate.ship_address_addr5 %></td>
        <td><%= estimate.ship_address_city %></td>
        <td><%= estimate.ship_address_state %></td>
        <td><%= estimate.ship_address_postal_code %></td>
        <td><%= estimate.ship_address_country %></td>
        <td><%= estimate.ship_address_note %></td>
        <td><%= estimate.ship_address_block_addr1 %></td>
        <td><%= estimate.ship_address_block_addr2 %></td>
        <td><%= estimate.ship_address_block_addr3 %></td>
        <td><%= estimate.ship_address_block_addr4 %></td>
        <td><%= estimate.ship_address_block_addr5 %></td>
        <td><%= estimate.is_active %></td>
        <td><%= estimate.po_number %></td>
        <td><%= estimate.terms_id %></td>
        <td><%= estimate.terms_full_name %></td>
        <td><%= estimate.due_date %></td>
        <td><%= estimate.sales_rep_id %></td>
        <td><%= estimate.sales_rep_full_name %></td>
        <td><%= estimate.fob %></td>
        <td><%= estimate.subtotal %></td>
        <td><%= estimate.item_sales_tax_id %></td>
        <td><%= estimate.item_sales_tax_full_name %></td>
        <td><%= estimate.sales_tax_percentage %></td>
        <td><%= estimate.sales_tax_total %></td>
        <td><%= estimate.total_amount %></td>
        <td><%= estimate.memo %></td>
        <td><%= estimate.customer_msg_id %></td>
        <td><%= estimate.customer_msg_full_name %></td>
        <td><%= estimate.is_to_be_emailed %></td>
        <td><%= estimate.customer_sales_tax_code_id %></td>
        <td><%= estimate.customer_sales_tax_code_full_name %></td>
        <td><%= estimate.linked_txn_id %></td>
        <td><%= estimate.linked_txn_type %></td>
        <td><%= estimate.linked_txn_date %></td>
        <td><%= estimate.linked_txn_ref_number %></td>
        <td><%= estimate.linked_txn_link_type %></td>
        <td><%= estimate.linked_txn_amount %></td>
        <td><%= link_to 'Show', estimate %></td>
      </tr>
    <% end %>
  </tbody>
</table>