<p id="notice"><%= notice %></p>

<p>
  <strong>Time created:</strong>
  <%= @estimate.time_created %>
</p>

<p>
  <strong>Time modified:</strong>
  <%= @estimate.time_modified %>
</p>

<p>
  <strong>Edit sequence:</strong>
  <%= @estimate.edit_sequence %>
</p>

<p>
  <strong>Txn number:</strong>
  <%= @estimate.txn_number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @estimate.customer_id %>
</p>

<p>
  <strong>Class:</strong>
  <%= @estimate.class_id %>
</p>

<p>
  <strong>Template:</strong>
  <%= @estimate.template_id %>
</p>

<p>
  <strong>Txn date:</strong>
  <%= @estimate.txn_date %>
</p>

<p>
  <strong>Ref number:</strong>
  <%= @estimate.ref_number %>
</p>

<p>
  <strong>Bill address addr1:</strong>
  <%= @estimate.bill_address_addr1 %>
</p>

<p>
  <strong>Bill address addr2:</strong>
  <%= @estimate.bill_address_addr2 %>
</p>

<p>
  <strong>Bill address addr3:</strong>
  <%= @estimate.bill_address_addr3 %>
</p>

<p>
  <strong>Bill address addr4:</strong>
  <%= @estimate.bill_address_addr4 %>
</p>

<p>
  <strong>Bill address addr5:</strong>
  <%= @estimate.bill_address_addr5 %>
</p>

<p>
  <strong>Bill address city:</strong>
  <%= @estimate.bill_address_city %>
</p>

<p>
  <strong>Bill address state:</strong>
  <%= @estimate.bill_address_state %>
</p>

<p>
  <strong>Bill address postal code:</strong>
  <%= @estimate.bill_address_postal_code %>
</p>

<p>
  <strong>Bill address country:</strong>
  <%= @estimate.bill_address_country %>
</p>

<p>
  <strong>Bill address note:</strong>
  <%= @estimate.bill_address_note %>
</p>

<p>
  <strong>Ship address addr1:</strong>
  <%= @estimate.ship_address_addr1 %>
</p>

<p>
  <strong>Ship address addr2:</strong>
  <%= @estimate.ship_address_addr2 %>
</p>

<p>
  <strong>Ship address addr3:</strong>
  <%= @estimate.ship_address_addr3 %>
</p>

<p>
  <strong>Ship address addr4:</strong>
  <%= @estimate.ship_address_addr4 %>
</p>

<p>
  <strong>Ship address addr5:</strong>
  <%= @estimate.ship_address_addr5 %>
</p>

<p>
  <strong>Ship address city:</strong>
  <%= @estimate.ship_address_city %>
</p>

<p>
  <strong>Ship address state:</strong>
  <%= @estimate.ship_address_state %>
</p>

<p>
  <strong>Ship address postal code:</strong>
  <%= @estimate.ship_address_postal_code %>
</p>

<p>
  <strong>Ship address country:</strong>
  <%= @estimate.ship_address_country %>
</p>

<p>
  <strong>Ship address note:</strong>
  <%= @estimate.ship_address_note %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @estimate.is_active %>
</p>

<p>
  <strong>Po number:</strong>
  <%= @estimate.po_number %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @estimate.terms_id %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @estimate.due_date %>
</p>

<p>
  <strong>Sales rep:</strong>
  <%= @estimate.sales_rep_id %>
</p>

<p>
  <strong>Fob:</strong>
  <%= @estimate.fob %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @estimate.subtotal %>
</p>

<p>
  <strong>Item sales tax:</strong>
  <%= @estimate.item_sales_tax_id %>
</p>

<p>
  <strong>Sales tax percentage:</strong>
  <%= @estimate.sales_tax_percentage %>
</p>

<p>
  <strong>Sales tax total:</strong>
  <%= @estimate.sales_tax_total %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @estimate.total_amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @estimate.currency_id %>
</p>

<p>
  <strong>Exchange rate:</strong>
  <%= @estimate.exchange_rate %>
</p>

<p>
  <strong>Total amount in home currency:</strong>
  <%= @estimate.total_amount_in_home_currency %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @estimate.memo %>
</p>

<p>
  <strong>Customer msg:</strong>
  <%= @estimate.customer_msg_id %>
</p>

<p>
  <strong>Is to be emailed:</strong>
  <%= @estimate.is_to_be_emailed %>
</p>

<p>
  <strong>Is tax included:</strong>
  <%= @estimate.is_tax_included %>
</p>

<p>
  <strong>Customer sales tax code:</strong>
  <%= @estimate.customer_sales_tax_code_id %>
</p>

<p>
  <strong>Other:</strong>
  <%= @estimate.other %>
</p>

<p>
  <strong>External guid:</strong>
  <%= @estimate.external_guid %>
</p>

<p>
  <strong>Linked txn:</strong>
  <%= @estimate.linked_txn %>
</p>

<p>
  <strong>Estimate line:</strong>
  <%= @estimate.estimate_line_id %>
</p>

<p>
  <strong>Estimate line group:</strong>
  <%= @estimate.estimate_line_group_id %>
</p>

<p>
  <strong>Data ext:</strong>
  <%= @estimate.data_ext_id %>
</p>

<%= link_to 'Back', estimates_path %>
