<p id="notice"><%= notice %></p>

<h1>Purchase Orders</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Time created</th>
      <th>Time modified</th>
      <th>Edit sequence</th>
      <th>Txn number</th>
      <th>Vendor</th>
      <th>Vendor full name</th>
      <th>Inventory site</th>
      <th>Inventory site full name</th>
      <th>Ship to entity</th>
      <th>Ship to entity full name</th>
      <th>Template</th>
      <th>Template full name</th>
      <th>Txn date</th>
      <th>Ref number</th>
      <th>Vendor address addr1</th>
      <th>Vendor address addr2</th>
      <th>Vendor address addr3</th>
      <th>Vendor address addr4</th>
      <th>Vendor address addr5</th>
      <th>Vendor address city</th>
      <th>Vendor address state</th>
      <th>Vendor address postal code</th>
      <th>Vendor address country</th>
      <th>Vendor address note</th>
      <th>Vendor address block addr1</th>
      <th>Vendor address block addr2</th>
      <th>Vendor address block addr3</th>
      <th>Vendor address block addr4</th>
      <th>Vendor address block addr5</th>
      <th>Ship address addr1</th>
      <th>Ship address addr2</th>
      <th>Ship address addr3</th>
      <th>Ship address addr4</th>
      <th>Ship address addr5</th>
      <th>Ship address city</th>
      <th>Ship address state</th>
      <th>Ship address postal code</th>
      <th>Ship address country</th>
      <th>Ship address note</th>
      <th>Ship address block addr1</th>
      <th>Ship address block addr2</th>
      <th>Ship address block addr3</th>
      <th>Ship address block addr4</th>
      <th>Ship address block addr5</th>
      <th>Terms</th>
      <th>Terms full name</th>
      <th>Due date</th>
      <th>Expected date</th>
      <th>Ship method</th>
      <th>Ship method full name</th>
      <th>Fob</th>
      <th>Total amount</th>
      <th>Is manually closed</th>
      <th>Is fully received</th>
      <th>Memo</th>
      <th>Vendor msg</th>
      <th>Is to be printed</th>
      <th>Is to be emailed</th>
      <th>Linked txn</th>
      <th>Linked txn type</th>
      <th>Linked txn date</th>
      <th>Linked txn ref number</th>
      <th>Linked txn link type</th>
      <th>Linked txn amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= purchase_order.id %></td>
        <td><%= purchase_order.time_created %></td>
        <td><%= purchase_order.time_modified %></td>
        <td><%= purchase_order.edit_sequence %></td>
        <td><%= purchase_order.txn_number %></td>
        <td><%= purchase_order.vendor_id %></td>
        <td><%= purchase_order.vendor_full_name %></td>
        <td><%= purchase_order.inventory_site_id %></td>
        <td><%= purchase_order.inventory_site_full_name %></td>
        <td><%= purchase_order.ship_to_entity_id %></td>
        <td><%= purchase_order.ship_to_entity_full_name %></td>
        <td><%= purchase_order.template_id %></td>
        <td><%= purchase_order.template_full_name %></td>
        <td><%= purchase_order.txn_date %></td>
        <td><%= purchase_order.ref_number %></td>
        <td><%= purchase_order.vendor_address_addr1 %></td>
        <td><%= purchase_order.vendor_address_addr2 %></td>
        <td><%= purchase_order.vendor_address_addr3 %></td>
        <td><%= purchase_order.vendor_address_addr4 %></td>
        <td><%= purchase_order.vendor_address_addr5 %></td>
        <td><%= purchase_order.vendor_address_city %></td>
        <td><%= purchase_order.vendor_address_state %></td>
        <td><%= purchase_order.vendor_address_postal_code %></td>
        <td><%= purchase_order.vendor_address_country %></td>
        <td><%= purchase_order.vendor_address_note %></td>
        <td><%= purchase_order.vendor_address_block_addr1 %></td>
        <td><%= purchase_order.vendor_address_block_addr2 %></td>
        <td><%= purchase_order.vendor_address_block_addr3 %></td>
        <td><%= purchase_order.vendor_address_block_addr4 %></td>
        <td><%= purchase_order.vendor_address_block_addr5 %></td>
        <td><%= purchase_order.ship_address_addr1 %></td>
        <td><%= purchase_order.ship_address_addr2 %></td>
        <td><%= purchase_order.ship_address_addr3 %></td>
        <td><%= purchase_order.ship_address_addr4 %></td>
        <td><%= purchase_order.ship_address_addr5 %></td>
        <td><%= purchase_order.ship_address_city %></td>
        <td><%= purchase_order.ship_address_state %></td>
        <td><%= purchase_order.ship_address_postal_code %></td>
        <td><%= purchase_order.ship_address_country %></td>
        <td><%= purchase_order.ship_address_note %></td>
        <td><%= purchase_order.ship_address_block_addr1 %></td>
        <td><%= purchase_order.ship_address_block_addr2 %></td>
        <td><%= purchase_order.ship_address_block_addr3 %></td>
        <td><%= purchase_order.ship_address_block_addr4 %></td>
        <td><%= purchase_order.ship_address_block_addr5 %></td>
        <td><%= purchase_order.terms_id %></td>
        <td><%= purchase_order.terms_full_name %></td>
        <td><%= purchase_order.due_date %></td>
        <td><%= purchase_order.expected_date %></td>
        <td><%= purchase_order.ship_method_id %></td>
        <td><%= purchase_order.ship_method_full_name %></td>
        <td><%= purchase_order.fob %></td>
        <td><%= purchase_order.total_amount %></td>
        <td><%= purchase_order.is_manually_closed %></td>
        <td><%= purchase_order.is_fully_received %></td>
        <td><%= purchase_order.memo %></td>
        <td><%= purchase_order.vendor_msg %></td>
        <td><%= purchase_order.is_to_be_printed %></td>
        <td><%= purchase_order.is_to_be_emailed %></td>
        <td><%= purchase_order.linked_txn_id %></td>
        <td><%= purchase_order.linked_txn_type %></td>
        <td><%= purchase_order.linked_txn_date %></td>
        <td><%= purchase_order.linked_txn_ref_number %></td>
        <td><%= purchase_order.linked_txn_link_type %></td>
        <td><%= purchase_order.linked_txn_amount %></td>
        <td><%= link_to 'Show', purchase_order %></td>
        <td><%= link_to 'Edit', edit_purchase_order_path(purchase_order) %></td>
        <td><%= link_to 'Destroy', purchase_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase Order', new_purchase_order_path %>
