<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @purchase_order.id %>
</p>

<p>
  <strong>Time created:</strong>
  <%= @purchase_order.time_created %>
</p>

<p>
  <strong>Time modified:</strong>
  <%= @purchase_order.time_modified %>
</p>

<p>
  <strong>Edit sequence:</strong>
  <%= @purchase_order.edit_sequence %>
</p>

<p>
  <strong>Txn number:</strong>
  <%= @purchase_order.txn_number %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @purchase_order.vendor_id %>
</p>

<p>
  <strong>Vendor full name:</strong>
  <%= @purchase_order.vendor_full_name %>
</p>

<p>
  <strong>Inventory site:</strong>
  <%= @purchase_order.inventory_site_id %>
</p>

<p>
  <strong>Inventory site full name:</strong>
  <%= @purchase_order.inventory_site_full_name %>
</p>

<p>
  <strong>Ship to entity:</strong>
  <%= @purchase_order.ship_to_entity_id %>
</p>

<p>
  <strong>Ship to entity full name:</strong>
  <%= @purchase_order.ship_to_entity_full_name %>
</p>

<p>
  <strong>Template:</strong>
  <%= @purchase_order.template_id %>
</p>

<p>
  <strong>Template full name:</strong>
  <%= @purchase_order.template_full_name %>
</p>

<p>
  <strong>Txn date:</strong>
  <%= @purchase_order.txn_date %>
</p>

<p>
  <strong>Ref number:</strong>
  <%= @purchase_order.ref_number %>
</p>

<p>
  <strong>Vendor address addr1:</strong>
  <%= @purchase_order.vendor_address_addr1 %>
</p>

<p>
  <strong>Vendor address addr2:</strong>
  <%= @purchase_order.vendor_address_addr2 %>
</p>

<p>
  <strong>Vendor address addr3:</strong>
  <%= @purchase_order.vendor_address_addr3 %>
</p>

<p>
  <strong>Vendor address addr4:</strong>
  <%= @purchase_order.vendor_address_addr4 %>
</p>

<p>
  <strong>Vendor address addr5:</strong>
  <%= @purchase_order.vendor_address_addr5 %>
</p>

<p>
  <strong>Vendor address city:</strong>
  <%= @purchase_order.vendor_address_city %>
</p>

<p>
  <strong>Vendor address state:</strong>
  <%= @purchase_order.vendor_address_state %>
</p>

<p>
  <strong>Vendor address postal code:</strong>
  <%= @purchase_order.vendor_address_postal_code %>
</p>

<p>
  <strong>Vendor address country:</strong>
  <%= @purchase_order.vendor_address_country %>
</p>

<p>
  <strong>Vendor address note:</strong>
  <%= @purchase_order.vendor_address_note %>
</p>

<p>
  <strong>Vendor address block addr1:</strong>
  <%= @purchase_order.vendor_address_block_addr1 %>
</p>

<p>
  <strong>Vendor address block addr2:</strong>
  <%= @purchase_order.vendor_address_block_addr2 %>
</p>

<p>
  <strong>Vendor address block addr3:</strong>
  <%= @purchase_order.vendor_address_block_addr3 %>
</p>

<p>
  <strong>Vendor address block addr4:</strong>
  <%= @purchase_order.vendor_address_block_addr4 %>
</p>

<p>
  <strong>Vendor address block addr5:</strong>
  <%= @purchase_order.vendor_address_block_addr5 %>
</p>

<p>
  <strong>Ship address addr1:</strong>
  <%= @purchase_order.ship_address_addr1 %>
</p>

<p>
  <strong>Ship address addr2:</strong>
  <%= @purchase_order.ship_address_addr2 %>
</p>

<p>
  <strong>Ship address addr3:</strong>
  <%= @purchase_order.ship_address_addr3 %>
</p>

<p>
  <strong>Ship address addr4:</strong>
  <%= @purchase_order.ship_address_addr4 %>
</p>

<p>
  <strong>Ship address addr5:</strong>
  <%= @purchase_order.ship_address_addr5 %>
</p>

<p>
  <strong>Ship address city:</strong>
  <%= @purchase_order.ship_address_city %>
</p>

<p>
  <strong>Ship address state:</strong>
  <%= @purchase_order.ship_address_state %>
</p>

<p>
  <strong>Ship address postal code:</strong>
  <%= @purchase_order.ship_address_postal_code %>
</p>

<p>
  <strong>Ship address country:</strong>
  <%= @purchase_order.ship_address_country %>
</p>

<p>
  <strong>Ship address note:</strong>
  <%= @purchase_order.ship_address_note %>
</p>

<p>
  <strong>Ship address block addr1:</strong>
  <%= @purchase_order.ship_address_block_addr1 %>
</p>

<p>
  <strong>Ship address block addr2:</strong>
  <%= @purchase_order.ship_address_block_addr2 %>
</p>

<p>
  <strong>Ship address block addr3:</strong>
  <%= @purchase_order.ship_address_block_addr3 %>
</p>

<p>
  <strong>Ship address block addr4:</strong>
  <%= @purchase_order.ship_address_block_addr4 %>
</p>

<p>
  <strong>Ship address block addr5:</strong>
  <%= @purchase_order.ship_address_block_addr5 %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @purchase_order.terms_id %>
</p>

<p>
  <strong>Terms full name:</strong>
  <%= @purchase_order.terms_full_name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @purchase_order.due_date %>
</p>

<p>
  <strong>Expected date:</strong>
  <%= @purchase_order.expected_date %>
</p>

<p>
  <strong>Ship method:</strong>
  <%= @purchase_order.ship_method_id %>
</p>

<p>
  <strong>Ship method full name:</strong>
  <%= @purchase_order.ship_method_full_name %>
</p>

<p>
  <strong>Fob:</strong>
  <%= @purchase_order.fob %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @purchase_order.total_amount %>
</p>

<p>
  <strong>Is manually closed:</strong>
  <%= @purchase_order.is_manually_closed %>
</p>

<p>
  <strong>Is fully received:</strong>
  <%= @purchase_order.is_fully_received %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @purchase_order.memo %>
</p>

<p>
  <strong>Vendor msg:</strong>
  <%= @purchase_order.vendor_msg %>
</p>

<p>
  <strong>Is to be printed:</strong>
  <%= @purchase_order.is_to_be_printed %>
</p>

<p>
  <strong>Is to be emailed:</strong>
  <%= @purchase_order.is_to_be_emailed %>
</p>

<p>
  <strong>Linked txn:</strong>
  <%= @purchase_order.linked_txn_id %>
</p>

<p>
  <strong>Linked txn type:</strong>
  <%= @purchase_order.linked_txn_type %>
</p>

<p>
  <strong>Linked txn date:</strong>
  <%= @purchase_order.linked_txn_date %>
</p>

<p>
  <strong>Linked txn ref number:</strong>
  <%= @purchase_order.linked_txn_ref_number %>
</p>

<p>
  <strong>Linked txn link type:</strong>
  <%= @purchase_order.linked_txn_link_type %>
</p>

<p>
  <strong>Linked txn amount:</strong>
  <%= @purchase_order.linked_txn_amount %>
</p>

<%= link_to 'Back', purchase_orders_path %>
