<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @invoice.id %>
</p>

<p>
  <strong>Time created:</strong>
  <%= @invoice.time_created %>
</p>

<p>
  <strong>Time modified:</strong>
  <%= @invoice.time_modified %>
</p>

<p>
  <strong>Edit sequence:</strong>
  <%= @invoice.edit_sequence %>
</p>

<p>
  <strong>Txn number:</strong>
  <%= @invoice.txn_number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer_id %>
</p>

<p>
  <strong>Customer full name:</strong>
  <%= @invoice.customer_full_name %>
</p>

<p>
  <strong>Ar account:</strong>
  <%= @invoice.ar_account_id %>
</p>

<p>
  <strong>Ar account full name:</strong>
  <%= @invoice.ar_account_full_name %>
</p>

<p>
  <strong>Template:</strong>
  <%= @invoice.template_id %>
</p>

<p>
  <strong>Template full name:</strong>
  <%= @invoice.template_full_name %>
</p>

<p>
  <strong>Txn date:</strong>
  <%= @invoice.txn_date %>
</p>

<p>
  <strong>Ref number:</strong>
  <%= @invoice.ref_number %>
</p>

<p>
  <strong>Bill address addr1:</strong>
  <%= @invoice.bill_address_addr1 %>
</p>

<p>
  <strong>Bill address addr2:</strong>
  <%= @invoice.bill_address_addr2 %>
</p>

<p>
  <strong>Bill address addr3:</strong>
  <%= @invoice.bill_address_addr3 %>
</p>

<p>
  <strong>Bill address addr4:</strong>
  <%= @invoice.bill_address_addr4 %>
</p>

<p>
  <strong>Bill address addr5:</strong>
  <%= @invoice.bill_address_addr5 %>
</p>

<p>
  <strong>Bill address city:</strong>
  <%= @invoice.bill_address_city %>
</p>

<p>
  <strong>Bill address state:</strong>
  <%= @invoice.bill_address_state %>
</p>

<p>
  <strong>Bill address postal code:</strong>
  <%= @invoice.bill_address_postal_code %>
</p>

<p>
  <strong>Bill address country:</strong>
  <%= @invoice.bill_address_country %>
</p>

<p>
  <strong>Bill address note:</strong>
  <%= @invoice.bill_address_note %>
</p>

<p>
  <strong>Bill address block addr1:</strong>
  <%= @invoice.bill_address_block_addr1 %>
</p>

<p>
  <strong>Bill address block addr2:</strong>
  <%= @invoice.bill_address_block_addr2 %>
</p>

<p>
  <strong>Bill address block addr3:</strong>
  <%= @invoice.bill_address_block_addr3 %>
</p>

<p>
  <strong>Bill address block addr4:</strong>
  <%= @invoice.bill_address_block_addr4 %>
</p>

<p>
  <strong>Bill address block addr5:</strong>
  <%= @invoice.bill_address_block_addr5 %>
</p>

<p>
  <strong>Ship address addr1:</strong>
  <%= @invoice.ship_address_addr1 %>
</p>

<p>
  <strong>Ship address addr2:</strong>
  <%= @invoice.ship_address_addr2 %>
</p>

<p>
  <strong>Ship address addr3:</strong>
  <%= @invoice.ship_address_addr3 %>
</p>

<p>
  <strong>Ship address addr4:</strong>
  <%= @invoice.ship_address_addr4 %>
</p>

<p>
  <strong>Ship address addr5:</strong>
  <%= @invoice.ship_address_addr5 %>
</p>

<p>
  <strong>Ship address city:</strong>
  <%= @invoice.ship_address_city %>
</p>

<p>
  <strong>Ship address state:</strong>
  <%= @invoice.ship_address_state %>
</p>

<p>
  <strong>Ship address postal code:</strong>
  <%= @invoice.ship_address_postal_code %>
</p>

<p>
  <strong>Ship address country:</strong>
  <%= @invoice.ship_address_country %>
</p>

<p>
  <strong>Ship address note:</strong>
  <%= @invoice.ship_address_note %>
</p>

<p>
  <strong>Ship address block addr1:</strong>
  <%= @invoice.ship_address_block_addr1 %>
</p>

<p>
  <strong>Ship address block addr2:</strong>
  <%= @invoice.ship_address_block_addr2 %>
</p>

<p>
  <strong>Ship address block addr3:</strong>
  <%= @invoice.ship_address_block_addr3 %>
</p>

<p>
  <strong>Ship address block addr4:</strong>
  <%= @invoice.ship_address_block_addr4 %>
</p>

<p>
  <strong>Ship address block addr5:</strong>
  <%= @invoice.ship_address_block_addr5 %>
</p>

<p>
  <strong>Is pending:</strong>
  <%= @invoice.is_pending %>
</p>

<p>
  <strong>Is finance charge:</strong>
  <%= @invoice.is_finance_charge %>
</p>

<p>
  <strong>Po number:</strong>
  <%= @invoice.po_number %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @invoice.terms_id %>
</p>

<p>
  <strong>Terms full name:</strong>
  <%= @invoice.terms_full_name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @invoice.due_date %>
</p>

<p>
  <strong>Sales rep:</strong>
  <%= @invoice.sales_rep_id %>
</p>

<p>
  <strong>Sales rep full name:</strong>
  <%= @invoice.sales_rep_full_name %>
</p>

<p>
  <strong>Fob:</strong>
  <%= @invoice.fob %>
</p>

<p>
  <strong>Ship date:</strong>
  <%= @invoice.ship_date %>
</p>

<p>
  <strong>Ship method:</strong>
  <%= @invoice.ship_method_id %>
</p>

<p>
  <strong>Ship method full name:</strong>
  <%= @invoice.ship_method_full_name %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @invoice.subtotal %>
</p>

<p>
  <strong>Item sales tax:</strong>
  <%= @invoice.item_sales_tax_id %>
</p>

<p>
  <strong>Item sales tax full name:</strong>
  <%= @invoice.item_sales_tax_full_name %>
</p>

<p>
  <strong>Sales tax percentage:</strong>
  <%= @invoice.sales_tax_percentage %>
</p>

<p>
  <strong>Sales tax total:</strong>
  <%= @invoice.sales_tax_total %>
</p>

<p>
  <strong>Applied amount:</strong>
  <%= @invoice.applied_amount %>
</p>

<p>
  <strong>Balance remaining:</strong>
  <%= @invoice.balance_remaining %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @invoice.memo %>
</p>

<p>
  <strong>Is paid:</strong>
  <%= @invoice.is_paid %>
</p>

<p>
  <strong>Customer msg:</strong>
  <%= @invoice.customer_msg_id %>
</p>

<p>
  <strong>Customer msg full name:</strong>
  <%= @invoice.customer_msg_full_name %>
</p>

<p>
  <strong>Is to be printed:</strong>
  <%= @invoice.is_to_be_printed %>
</p>

<p>
  <strong>Is to be emailed:</strong>
  <%= @invoice.is_to_be_emailed %>
</p>

<p>
  <strong>Customer sales tax code:</strong>
  <%= @invoice.customer_sales_tax_code_id %>
</p>

<p>
  <strong>Customer sales tax code full name:</strong>
  <%= @invoice.customer_sales_tax_code_full_name %>
</p>

<p>
  <strong>Suggested discount amount:</strong>
  <%= @invoice.suggested_discount_amount %>
</p>

<p>
  <strong>Suggested discount date:</strong>
  <%= @invoice.suggested_discount_date %>
</p>

<p>
  <strong>Linked txn:</strong>
  <%= @invoice.linked_txn_id %>
</p>

<p>
  <strong>Linked txn type:</strong>
  <%= @invoice.linked_txn_type %>
</p>

<p>
  <strong>Linked txn date:</strong>
  <%= @invoice.linked_txn_date %>
</p>

<p>
  <strong>Linked txn ref number:</strong>
  <%= @invoice.linked_txn_ref_number %>
</p>

<p>
  <strong>Linked txn link type:</strong>
  <%= @invoice.linked_txn_link_type %>
</p>

<p>
  <strong>Linked txn amount:</strong>
  <%= @invoice.linked_txn_amount %>
</p>

<%= link_to 'Back', invoices_path %>
