<p id="notice"><%= notice %></p>

<p>
  <strong>Time created:</strong>
  <%= @job.time_created %>
</p>

<p>
  <strong>Time modified:</strong>
  <%= @job.time_modified %>
</p>

<p>
  <strong>Edit sequence:</strong>
  <%= @job.edit_sequence %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @job.full_name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @job.is_active %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @job.parent_id %>
</p>

<p>
  <strong>Sublevel:</strong>
  <%= @job.sublevel %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @job.salutation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @job.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @job.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @job.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @job.job_title %>
</p>

<p>
  <strong>Bill address addr1:</strong>
  <%= @job.bill_address_addr1 %>
</p>

<p>
  <strong>Bill address addr2:</strong>
  <%= @job.bill_address_addr2 %>
</p>

<p>
  <strong>Bill address addr3:</strong>
  <%= @job.bill_address_addr3 %>
</p>

<p>
  <strong>Bill address addr4:</strong>
  <%= @job.bill_address_addr4 %>
</p>

<p>
  <strong>Bill address addr5:</strong>
  <%= @job.bill_address_addr5 %>
</p>

<p>
  <strong>Bill address city:</strong>
  <%= @job.bill_address_city %>
</p>

<p>
  <strong>Bill address state:</strong>
  <%= @job.bill_address_state %>
</p>

<p>
  <strong>Bill address postal code:</strong>
  <%= @job.bill_address_postal_code %>
</p>

<p>
  <strong>Bill address country:</strong>
  <%= @job.bill_address_country %>
</p>

<p>
  <strong>Bill address note:</strong>
  <%= @job.bill_address_note %>
</p>

<p>
  <strong>Bill address block addr1:</strong>
  <%= @job.bill_address_block_addr1 %>
</p>

<p>
  <strong>Bill address block addr2:</strong>
  <%= @job.bill_address_block_addr2 %>
</p>

<p>
  <strong>Bill address block addr3:</strong>
  <%= @job.bill_address_block_addr3 %>
</p>

<p>
  <strong>Bill address block addr4:</strong>
  <%= @job.bill_address_block_addr4 %>
</p>

<p>
  <strong>Bill address block addr5:</strong>
  <%= @job.bill_address_block_addr5 %>
</p>

<p>
  <strong>Ship address addr1:</strong>
  <%= @job.ship_address_addr1 %>
</p>

<p>
  <strong>Ship address addr2:</strong>
  <%= @job.ship_address_addr2 %>
</p>

<p>
  <strong>Ship address addr3:</strong>
  <%= @job.ship_address_addr3 %>
</p>

<p>
  <strong>Ship address addr4:</strong>
  <%= @job.ship_address_addr4 %>
</p>

<p>
  <strong>Ship address addr5:</strong>
  <%= @job.ship_address_addr5 %>
</p>

<p>
  <strong>Ship address city:</strong>
  <%= @job.ship_address_city %>
</p>

<p>
  <strong>Ship address state:</strong>
  <%= @job.ship_address_state %>
</p>

<p>
  <strong>Ship address postal code:</strong>
  <%= @job.ship_address_postal_code %>
</p>

<p>
  <strong>Ship address country:</strong>
  <%= @job.ship_address_country %>
</p>

<p>
  <strong>Ship address note:</strong>
  <%= @job.ship_address_note %>
</p>

<p>
  <strong>Ship address block addr1:</strong>
  <%= @job.ship_address_block_addr1 %>
</p>

<p>
  <strong>Ship address block addr2:</strong>
  <%= @job.ship_address_block_addr2 %>
</p>

<p>
  <strong>Ship address block addr3:</strong>
  <%= @job.ship_address_block_addr3 %>
</p>

<p>
  <strong>Ship address block addr4:</strong>
  <%= @job.ship_address_block_addr4 %>
</p>

<p>
  <strong>Ship address block addr5:</strong>
  <%= @job.ship_address_block_addr5 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @job.phone %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @job.alt_phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @job.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job.email %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @job.cc %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @job.contact %>
</p>

<p>
  <strong>Alt contact:</strong>
  <%= @job.alt_contact %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @job.customer_type_id %>
</p>

<p>
  <strong>Customer type full name:</strong>
  <%= @job.customer_type_full_name %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @job.terms_id %>
</p>

<p>
  <strong>Terms full name:</strong>
  <%= @job.terms_full_name %>
</p>

<p>
  <strong>Sales rep:</strong>
  <%= @job.sales_rep_id %>
</p>

<p>
  <strong>Sales rep full name:</strong>
  <%= @job.sales_rep_full_name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @job.balance %>
</p>

<p>
  <strong>Total balance:</strong>
  <%= @job.total_balance %>
</p>

<p>
  <strong>Sales tax code:</strong>
  <%= @job.sales_tax_code_id %>
</p>

<p>
  <strong>Sales tax code full name:</strong>
  <%= @job.sales_tax_code_full_name %>
</p>

<p>
  <strong>Item sales tax:</strong>
  <%= @job.item_sales_tax_id %>
</p>

<p>
  <strong>Item sales tax full name:</strong>
  <%= @job.item_sales_tax_full_name %>
</p>

<p>
  <strong>Resale number:</strong>
  <%= @job.resale_number %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @job.account_number %>
</p>

<p>
  <strong>Preferred payment method:</strong>
  <%= @job.preferred_payment_method_id %>
</p>

<p>
  <strong>Preferred payment method full name:</strong>
  <%= @job.preferred_payment_method_full_name %>
</p>

<p>
  <strong>Job status:</strong>
  <%= @job.job_status %>
</p>

<p>
  <strong>Job start date:</strong>
  <%= @job.job_start_date %>
</p>

<p>
  <strong>Job projected end date:</strong>
  <%= @job.job_projected_end_date %>
</p>

<p>
  <strong>Job end date:</strong>
  <%= @job.job_end_date %>
</p>

<p>
  <strong>Job desc:</strong>
  <%= @job.job_desc %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @job.job_type_id %>
</p>

<p>
  <strong>Job type full name:</strong>
  <%= @job.job_type_full_name %>
</p>

<p>
  <strong>Preferred delivery method:</strong>
  <%= @job.preferred_delivery_method %>
</p>

<p>
  <strong>Price level:</strong>
  <%= @job.price_level_id %>
</p>

<p>
  <strong>Price level full name:</strong>
  <%= @job.price_level_full_name %>
</p>

<p>
  <strong>Primary contact:</strong>
  <%= @job.primary_contact %>
</p>

<p>
  <strong>Primary email:</strong>
  <%= @job.primary_email %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @job.primary_phone %>
</p>

<p>
  <strong>Jobs pkey:</strong>
  <%= @job.Jobs_PKEY %>
</p>

<p>
  <strong>Creationtimestamp:</strong>
  <%= @job.CreationTimeStamp %>
</p>

<p>
  <strong>Creationuser:</strong>
  <%= @job.CreationUser %>
</p>

<p>
  <strong>Lastmodificationtimestamp:</strong>
  <%= @job.LastModificationTimeStamp %>
</p>

<p>
  <strong>Lastmodificationuser:</strong>
  <%= @job.LastModificationUser %>
</p>

<p>
  <strong>Fk customers pkey:</strong>
  <%= @job.FK_Customers_PKEY %>
</p>

<p>
  <strong>Fk jobid parent:</strong>
  <%= @job.FK_JobID_Parent %>
</p>

<p>
  <strong>Job custclno:</strong>
  <%= @job.Job_CustCLNo %>
</p>

<p>
  <strong>Job custpono:</strong>
  <%= @job.Job_CustPONo %>
</p>

<p>
  <strong>Job dateendactual:</strong>
  <%= @job.Job_DateEndActual %>
</p>

<p>
  <strong>Job dateendprojected:</strong>
  <%= @job.Job_DateEndProjected %>
</p>

<p>
  <strong>Job datestartactual:</strong>
  <%= @job.Job_DateStartActual %>
</p>

<p>
  <strong>Job datestartprojected:</strong>
  <%= @job.Job_DateStartProjected %>
</p>

<p>
  <strong>Job description long:</strong>
  <%= @job.Job_Description_Long %>
</p>

<p>
  <strong>Job description short:</strong>
  <%= @job.Job_Description_Short %>
</p>

<p>
  <strong>Job hourtype:</strong>
  <%= @job.Job_HourType %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
