<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @client.id %>
</p>

<p>
  <strong>Time created:</strong>
  <%= @client.time_created %>
</p>

<p>
  <strong>Time modified:</strong>
  <%= @client.time_modified %>
</p>

<p>
  <strong>Edit sequence:</strong>
  <%= @client.edit_sequence %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @client.full_name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @client.is_active %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @client.parent_id %>
</p>

<p>
  <strong>Sublevel:</strong>
  <%= @client.sublevel %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @client.company_name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @client.salutation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @client.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @client.job_title %>
</p>

<p>
  <strong>Bill address addr1:</strong>
  <%= @client.bill_address_addr1 %>
</p>

<p>
  <strong>Bill address addr2:</strong>
  <%= @client.bill_address_addr2 %>
</p>

<p>
  <strong>Bill address addr3:</strong>
  <%= @client.bill_address_addr3 %>
</p>

<p>
  <strong>Bill address addr4:</strong>
  <%= @client.bill_address_addr4 %>
</p>

<p>
  <strong>Bill address addr5:</strong>
  <%= @client.bill_address_addr5 %>
</p>

<p>
  <strong>Bill address city:</strong>
  <%= @client.bill_address_city %>
</p>

<p>
  <strong>Bill address state:</strong>
  <%= @client.bill_address_state %>
</p>

<p>
  <strong>Bill address postal code:</strong>
  <%= @client.bill_address_postal_code %>
</p>

<p>
  <strong>Bill address country:</strong>
  <%= @client.bill_address_country %>
</p>

<p>
  <strong>Bill address note:</strong>
  <%= @client.bill_address_note %>
</p>

<p>
  <strong>Bill address block addr1:</strong>
  <%= @client.bill_address_block_addr1 %>
</p>

<p>
  <strong>Bill address block addr2:</strong>
  <%= @client.bill_address_block_addr2 %>
</p>

<p>
  <strong>Bill address block addr3:</strong>
  <%= @client.bill_address_block_addr3 %>
</p>

<p>
  <strong>Bill address block addr4:</strong>
  <%= @client.bill_address_block_addr4 %>
</p>

<p>
  <strong>Bill address block addr5:</strong>
  <%= @client.bill_address_block_addr5 %>
</p>

<p>
  <strong>Ship address addr1:</strong>
  <%= @client.ship_address_addr1 %>
</p>

<p>
  <strong>Ship address addr2:</strong>
  <%= @client.ship_address_addr2 %>
</p>

<p>
  <strong>Ship address addr3:</strong>
  <%= @client.ship_address_addr3 %>
</p>

<p>
  <strong>Ship address addr4:</strong>
  <%= @client.ship_address_addr4 %>
</p>

<p>
  <strong>Ship address addr5:</strong>
  <%= @client.ship_address_addr5 %>
</p>

<p>
  <strong>Ship address city:</strong>
  <%= @client.ship_address_city %>
</p>

<p>
  <strong>Ship address state:</strong>
  <%= @client.ship_address_state %>
</p>

<p>
  <strong>Ship address postal code:</strong>
  <%= @client.ship_address_postal_code %>
</p>

<p>
  <strong>Ship address country:</strong>
  <%= @client.ship_address_country %>
</p>

<p>
  <strong>Ship address note:</strong>
  <%= @client.ship_address_note %>
</p>

<p>
  <strong>Ship address block addr1:</strong>
  <%= @client.ship_address_block_addr1 %>
</p>

<p>
  <strong>Ship address block addr2:</strong>
  <%= @client.ship_address_block_addr2 %>
</p>

<p>
  <strong>Ship address block addr3:</strong>
  <%= @client.ship_address_block_addr3 %>
</p>

<p>
  <strong>Ship address block addr4:</strong>
  <%= @client.ship_address_block_addr4 %>
</p>

<p>
  <strong>Ship address block addr5:</strong>
  <%= @client.ship_address_block_addr5 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @client.alt_phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @client.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @client.cc %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @client.contact %>
</p>

<p>
  <strong>Alt contact:</strong>
  <%= @client.alt_contact %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @client.customer_type_id %>
</p>

<p>
  <strong>Customer type full name:</strong>
  <%= @client.customer_type_full_name %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @client.terms_id %>
</p>

<p>
  <strong>Terms full name:</strong>
  <%= @client.terms_full_name %>
</p>

<p>
  <strong>Sales rep:</strong>
  <%= @client.sales_rep_id %>
</p>

<p>
  <strong>Sales rep full name:</strong>
  <%= @client.sales_rep_full_name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @client.balance %>
</p>

<p>
  <strong>Total balance:</strong>
  <%= @client.total_balance %>
</p>

<p>
  <strong>Sales tax code:</strong>
  <%= @client.sales_tax_code_id %>
</p>

<p>
  <strong>Sales tax code full name:</strong>
  <%= @client.sales_tax_code_full_name %>
</p>

<p>
  <strong>Item sales tax:</strong>
  <%= @client.item_sales_tax_id %>
</p>

<p>
  <strong>Item sales tax full name:</strong>
  <%= @client.item_sales_tax_full_name %>
</p>

<p>
  <strong>Resale number:</strong>
  <%= @client.resale_number %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @client.account_number %>
</p>

<p>
  <strong>Preferred payment method:</strong>
  <%= @client.preferred_payment_method_id %>
</p>

<p>
  <strong>Preferred payment method full name:</strong>
  <%= @client.preferred_payment_method_full_name %>
</p>

<p>
  <strong>Job status:</strong>
  <%= @client.job_status %>
</p>

<p>
  <strong>Job start date:</strong>
  <%= @client.job_start_date %>
</p>

<p>
  <strong>Job projected end date:</strong>
  <%= @client.job_projected_end_date %>
</p>

<p>
  <strong>Job end date:</strong>
  <%= @client.job_end_date %>
</p>

<p>
  <strong>Job desc:</strong>
  <%= @client.job_desc %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @client.job_type_id %>
</p>

<p>
  <strong>Job type full name:</strong>
  <%= @client.job_type_full_name %>
</p>

<p>
  <strong>Preferred delivery method:</strong>
  <%= @client.preferred_delivery_method %>
</p>

<p>
  <strong>Price level:</strong>
  <%= @client.price_level_id %>
</p>

<p>
  <strong>Price level full name:</strong>
  <%= @client.price_level_full_name %>
</p>

<p>
  <strong>Primary contact:</strong>
  <%= @client.primary_contact %>
</p>

<p>
  <strong>Primary email:</strong>
  <%= @client.primary_email %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @client.primary_phone %>
</p>

<p>
  <strong>Customers pkey:</strong>
  <%= @client.Customers_PKEY %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
