<div id="filterContainer">
	<%= bootstrap_form_tag url: "/customers", :method => 'get' do |f| %>
			<%= submit_tag "Show All", class: "btn btn-primary" %>
			<%= f.select :is_active, [["Show All", "All"], ["Active", "true"], ["Inactive", "false"]], { label: "Customer Status:" } %>
			<%= f.select :job, [["Show All", "All"], ["Active", "true"], ["Inactive", "false"]], { label: "Job Status:" } %>
			<%= f.select :project, options_from_collection_for_select(Project.active.order(:name), "name", "name"), include_blank: "-- Select Project --", label: "Project Status" %>
			<%= f.select :customer, [["Show All", "All"], ["Active", "true"], ["Inactive", "false"]], { label: "Estimate Status:" } %>
			<%= f.select :customer, [["Show All", "All"], ["Active", "true"], ["Inactive", "false"]], { label: "SO Status:" } %>

			<%= submit_tag "Reset All", class: "btn btn-primary" %>

	<% end %>
</div>
