<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :list_id %>
    <%= f.text_field :list_id %>
  </div>

  <div class="field">
    <%= f.label :time_created %>
    <%= f.datetime_select :time_created %>
  </div>

  <div class="field">
    <%= f.label :time_modified %>
    <%= f.datetime_select :time_modified %>
  </div>

  <div class="field">
    <%= f.label :edit_sequence %>
    <%= f.text_field :edit_sequence %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>

  <div class="field">
    <%= f.label :class_ref_list_id %>
    <%= f.text_field :class_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :parent_ref_list_id %>
    <%= f.text_field :parent_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :sublevel %>
    <%= f.number_field :sublevel %>
  </div>

  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    <%= f.label :salutation %>
    <%= f.text_field :salutation %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr1 %>
    <%= f.text_field :bill_address_addr1 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr2 %>
    <%= f.text_field :bill_address_addr2 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr3 %>
    <%= f.text_field :bill_address_addr3 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr4 %>
    <%= f.text_field :bill_address_addr4 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_addr5 %>
    <%= f.text_field :bill_address_addr5 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_city %>
    <%= f.text_field :bill_address_city %>
  </div>

  <div class="field">
    <%= f.label :bill_address_state %>
    <%= f.text_field :bill_address_state %>
  </div>

  <div class="field">
    <%= f.label :bill_address_postal_code %>
    <%= f.text_field :bill_address_postal_code %>
  </div>

  <div class="field">
    <%= f.label :bill_address_country %>
    <%= f.text_field :bill_address_country %>
  </div>

  <div class="field">
    <%= f.label :bill_address_note %>
    <%= f.text_field :bill_address_note %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr1 %>
    <%= f.text_field :bill_address_block_addr1 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr2 %>
    <%= f.text_field :bill_address_block_addr2 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr3 %>
    <%= f.text_field :bill_address_block_addr3 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr4 %>
    <%= f.text_field :bill_address_block_addr4 %>
  </div>

  <div class="field">
    <%= f.label :bill_address_block_addr5 %>
    <%= f.text_field :bill_address_block_addr5 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr1 %>
    <%= f.text_field :ship_address_addr1 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr2 %>
    <%= f.text_field :ship_address_addr2 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr3 %>
    <%= f.text_field :ship_address_addr3 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr4 %>
    <%= f.text_field :ship_address_addr4 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_addr5 %>
    <%= f.text_field :ship_address_addr5 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr1 %>
    <%= f.text_field :ship_address_block_addr1 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr2 %>
    <%= f.text_field :ship_address_block_addr2 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr3 %>
    <%= f.text_field :ship_address_block_addr3 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr4 %>
    <%= f.text_field :ship_address_block_addr4 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_block_addr5 %>
    <%= f.text_field :ship_address_block_addr5 %>
  </div>

  <div class="field">
    <%= f.label :ship_address_city %>
    <%= f.text_field :ship_address_city %>
  </div>

  <div class="field">
    <%= f.label :ship_address_state %>
    <%= f.text_field :ship_address_state %>
  </div>

  <div class="field">
    <%= f.label :ship_address_postal_code %>
    <%= f.text_field :ship_address_postal_code %>
  </div>

  <div class="field">
    <%= f.label :ship_address_country %>
    <%= f.text_field :ship_address_country %>
  </div>

  <div class="field">
    <%= f.label :ship_address_note %>
    <%= f.text_field :ship_address_note %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_name %>
    <%= f.text_field :ship_to_address_name %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_addr1 %>
    <%= f.text_field :ship_to_address_addr1 %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_addr2 %>
    <%= f.text_field :ship_to_address_addr2 %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_addr3 %>
    <%= f.text_field :ship_to_address_addr3 %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_addr4 %>
    <%= f.text_field :ship_to_address_addr4 %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_addr5 %>
    <%= f.text_field :ship_to_address_addr5 %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_city %>
    <%= f.text_field :ship_to_address_city %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_state %>
    <%= f.text_field :ship_to_address_state %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_postal_code %>
    <%= f.text_field :ship_to_address_postal_code %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_country %>
    <%= f.text_field :ship_to_address_country %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_note %>
    <%= f.text_field :ship_to_address_note %>
  </div>

  <div class="field">
    <%= f.label :ship_to_address_default_ship_to %>
    <%= f.check_box :ship_to_address_default_ship_to %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :alt_phone %>
    <%= f.text_field :alt_phone %>
  </div>

  <div class="field">
    <%= f.label :fax %>
    <%= f.text_field :fax %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :cc %>
    <%= f.text_field :cc %>
  </div>

  <div class="field">
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>

  <div class="field">
    <%= f.label :alt_contact %>
    <%= f.text_field :alt_contact %>
  </div>

  <div class="field">
    <%= f.label :additional_contact_ref_contact_name %>
    <%= f.text_field :additional_contact_ref_contact_name %>
  </div>

  <div class="field">
    <%= f.label :additional_contact_ref_contact_value %>
    <%= f.text_field :additional_contact_ref_contact_value %>
  </div>

  <div class="field">
    <%= f.label :contacts_ret_list_id %>
    <%= f.text_field :contacts_ret_list_id %>
  </div>

  <div class="field">
    <%= f.label :customer_type_ref_list_id %>
    <%= f.text_field :customer_type_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :terms_ref_list_id %>
    <%= f.text_field :terms_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :sales_rep_ref_list_id %>
    <%= f.text_field :sales_rep_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :balance %>
    <%= f.text_field :balance %>
  </div>

  <div class="field">
    <%= f.label :total_balance %>
    <%= f.text_field :total_balance %>
  </div>

  <div class="field">
    <%= f.label :sales_tax_code_ref_list_id %>
    <%= f.text_field :sales_tax_code_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :item_sales_tax_ref_list_id %>
    <%= f.text_field :item_sales_tax_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :resale_number %>
    <%= f.text_field :resale_number %>
  </div>

  <div class="field">
    <%= f.label :account_number %>
    <%= f.text_field :account_number %>
  </div>

  <div class="field">
    <%= f.label :credit_limit %>
    <%= f.text_field :credit_limit %>
  </div>

  <div class="field">
    <%= f.label :preferred_payment_method_ref_list_id %>
    <%= f.text_field :preferred_payment_method_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :credit_card_info_credit_card_number %>
    <%= f.text_field :credit_card_info_credit_card_number %>
  </div>

  <div class="field">
    <%= f.label :credit_card_info_expiration_month %>
    <%= f.number_field :credit_card_info_expiration_month %>
  </div>

  <div class="field">
    <%= f.label :credit_card_info_expiration_year %>
    <%= f.number_field :credit_card_info_expiration_year %>
  </div>

  <div class="field">
    <%= f.label :credit_card_info_name_on_card %>
    <%= f.text_field :credit_card_info_name_on_card %>
  </div>

  <div class="field">
    <%= f.label :credit_card_info_credit_card_address %>
    <%= f.text_field :credit_card_info_credit_card_address %>
  </div>

  <div class="field">
    <%= f.label :credit_card_info_credit_card_postal_code %>
    <%= f.text_field :credit_card_info_credit_card_postal_code %>
  </div>

  <div class="field">
    <%= f.label :job_status %>
    <%= f.text_field :job_status %>
  </div>

  <div class="field">
    <%= f.label :job_start_date %>
    <%= f.date_select :job_start_date %>
  </div>

  <div class="field">
    <%= f.label :job_projected_end_date %>
    <%= f.date_select :job_projected_end_date %>
  </div>

  <div class="field">
    <%= f.label :job_end_date %>
    <%= f.date_select :job_end_date %>
  </div>

  <div class="field">
    <%= f.label :job_desc %>
    <%= f.text_field :job_desc %>
  </div>

  <div class="field">
    <%= f.label :job_type_ref_list_id %>
    <%= f.text_field :job_type_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :additional_notes_ret_note_id %>
    <%= f.text_field :additional_notes_ret_note_id %>
  </div>

  <div class="field">
    <%= f.label :preferred_delivery_method %>
    <%= f.text_field :preferred_delivery_method %>
  </div>

  <div class="field">
    <%= f.label :price_level_ref_list_id %>
    <%= f.text_field :price_level_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :external_guid %>
    <%= f.text_field :external_guid %>
  </div>

  <div class="field">
    <%= f.label :currency_ref_list_id %>
    <%= f.text_field :currency_ref_list_id %>
  </div>

  <div class="field">
    <%= f.label :data_ext_ret_owner_id %>
    <%= f.text_field :data_ext_ret_owner_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
