<div class="row">
    <div class="col-xs-24">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Customer Display Name</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.full_name %></span></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Full Company Name</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.company_name %></span></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Contact Name</label>
                        </div>
                        <div class="col-sm-12"><span><%= "#{@customer.salutation} #{@customer.first_name} #{@customer.middle_name} #{@customer.last_name}"%></span></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Phone</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.phone %></span></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Alternate Phone</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.alt_phone %></span></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Email</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.email %></span></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">CC</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.cc %></span></div>
                    </div>
                     <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Fax</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.fax %></span></div>
                    </div>
                     <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">CC</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.cc %></span></div>
                    </div>
                  <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Other Contact</label>
                        </div>
                        <div class="col-sm-12"><span><%= @customer.contact %></span></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-24">
                        <input type="checkbox" readonly="true"  <% unless @customer.active? %>
   value="true" checked="checked"

   <% end %>   > Customer is inactive
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  <div class="row">
    <div class="col-xs-24">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Site Contact Info</h3></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Site Contact</label>
                        </div>
                        <div class="col-sm-16"><span><%= @customer.primary_contact%></span></div>
                    </div>
                     <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Site Email</label>
                        </div>
                        <div class="col-sm-16"><span><%= @customer.primary_email %></span></div>
                    </div>
                     <div class="form-group">
                        <div class="col-sm-8">
                            <label class="control-label">Site Phone</label>
                        </div>
                        <div class="col-sm-16"><span><%= @customer.primary_phone %></span></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Billing Address:</h3></div>
            <div class="panel-body">
                <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 1</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.bill_address_addr1 %></span></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 2</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.bill_address_addr2 %></span></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 3</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.bill_address_city %></span></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 4</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.bill_address_state %></span></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 5</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.bill_address_postal_code %></span></div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Shipping Address:</h3></div>
            <div class="panel-body">
              <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 1</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.ship_address_addr1 %></span></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 2</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.ship_address_addr2 %></span></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 3</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.ship_address_city %></span></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 4</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.ship_address_state %></span></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label">Address 5</label>
                    </div>
                    <div class="col-sm-16"><span><%= @customer.ship_address_postal_code %></span></div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>