<div class="customerRow <%=job.parent_id%> row collapse" style="color:green; border:0;">
<div class="col-xs-<%=(8 - job.sublevel.to_i)%> col-xs-offset-<%=(job.sublevel.to_i)%>">
<% unless job.leaf? %>
<button class="customerJobs btn-link" data-toggle="collapse" data-target=".<%=job.id%>"><i class="glyphicon glyphicon-menu-left"></i></button>
<% end %>
<%= link_to "#{job.name}", customer_path(job), :target => '_blank', :style => 'underline: none; color: green; border: 0;' %>
</div>
 <div class="col-xs-2">&emsp;</div>
 <div class="col-xs-2">&emsp;</div>
 <div title="Job Status" class="col-xs-2"><%= job.job_status %></div>
 <div class="col-xs-2">&emsp;</div>
 <div class="col-xs-2">&emsp;</div>
 <div class="col-xs-2">&emsp;</div>
 <div class="col-xs-2">&emsp;</div>
 <div class="col-xs-2">&emsp;</div>
</div>
<% job.projects.order(:name).each do |project|  %>
  <%= render partial: 'project', locals: {job: job, project: project} %>
<% end %>