<div class="row">
	<div class="col-xs-6">
      <%= select_tag "Customer", options_from_collection_for_select(@customers, "full_name", "full_name"), class: 'form-control', include_blank: "-- Select Customer --", hide_label: true %>
	</div>
	<div class="col-xs-6">
		<%= text_field_tag "Project", nil, placeholder: 'Project # or Name', class: 'form-control' %>
	</div>
	<div class="col-xs-6">
		<%= text_field_tag "Estimate", nil, placeholder: 'Estimate #', class: 'form-control' %>
	</div>
	<div class="col-xs-6">
		<%= text_field_tag "Sales Order", nil, placeholder: 'Sales Order #', class: 'form-control' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<%= text_field_tag "Purchase Order", nil, placeholder: 'Purchase Order #', class: 'form-control' %>
	</div>
	<div class="col-xs-6">
		<%= text_field_tag "Invoice", nil, placeholder: 'Invoice #', class: 'form-control' %>
	</div>
	<div class="col-xs-6">
		<%= text_field_tag "Ticket", nil, placeholder: 'Ticket #', class: 'form-control' %>
	</div>
	<div class="col-xs-6">
  <%= submit_tag "Go", class: "btn btn-primary" %>
	</div>
</div>

