<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @customer.list_id %>
</p>

<p>
  <strong>Time created:</strong>
  <%= @customer.time_created %>
</p>

<p>
  <strong>Time modified:</strong>
  <%= @customer.time_modified %>
</p>

<p>
  <strong>Edit sequence:</strong>
  <%= @customer.edit_sequence %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @customer.full_name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @customer.is_active %>
</p>

<p>
  <strong>Class ref list:</strong>
  <%= @customer.class_ref_list_id %>
</p>

<p>
  <strong>Parent ref list:</strong>
  <%= @customer.parent_ref_list_id %>
</p>

<p>
  <strong>Sublevel:</strong>
  <%= @customer.sublevel %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @customer.company_name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @customer.salutation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @customer.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @customer.job_title %>
</p>

<p>
  <strong>Bill address addr1:</strong>
  <%= @customer.bill_address_addr1 %>
</p>

<p>
  <strong>Bill address addr2:</strong>
  <%= @customer.bill_address_addr2 %>
</p>

<p>
  <strong>Bill address addr3:</strong>
  <%= @customer.bill_address_addr3 %>
</p>

<p>
  <strong>Bill address addr4:</strong>
  <%= @customer.bill_address_addr4 %>
</p>

<p>
  <strong>Bill address addr5:</strong>
  <%= @customer.bill_address_addr5 %>
</p>

<p>
  <strong>Bill address city:</strong>
  <%= @customer.bill_address_city %>
</p>

<p>
  <strong>Bill address state:</strong>
  <%= @customer.bill_address_state %>
</p>

<p>
  <strong>Bill address postal code:</strong>
  <%= @customer.bill_address_postal_code %>
</p>

<p>
  <strong>Bill address country:</strong>
  <%= @customer.bill_address_country %>
</p>

<p>
  <strong>Bill address note:</strong>
  <%= @customer.bill_address_note %>
</p>

<p>
  <strong>Bill address block addr1:</strong>
  <%= @customer.bill_address_block_addr1 %>
</p>

<p>
  <strong>Bill address block addr2:</strong>
  <%= @customer.bill_address_block_addr2 %>
</p>

<p>
  <strong>Bill address block addr3:</strong>
  <%= @customer.bill_address_block_addr3 %>
</p>

<p>
  <strong>Bill address block addr4:</strong>
  <%= @customer.bill_address_block_addr4 %>
</p>

<p>
  <strong>Bill address block addr5:</strong>
  <%= @customer.bill_address_block_addr5 %>
</p>

<p>
  <strong>Ship address addr1:</strong>
  <%= @customer.ship_address_addr1 %>
</p>

<p>
  <strong>Ship address addr2:</strong>
  <%= @customer.ship_address_addr2 %>
</p>

<p>
  <strong>Ship address addr3:</strong>
  <%= @customer.ship_address_addr3 %>
</p>

<p>
  <strong>Ship address addr4:</strong>
  <%= @customer.ship_address_addr4 %>
</p>

<p>
  <strong>Ship address addr5:</strong>
  <%= @customer.ship_address_addr5 %>
</p>

<p>
  <strong>Ship address block addr1:</strong>
  <%= @customer.ship_address_block_addr1 %>
</p>

<p>
  <strong>Ship address block addr2:</strong>
  <%= @customer.ship_address_block_addr2 %>
</p>

<p>
  <strong>Ship address block addr3:</strong>
  <%= @customer.ship_address_block_addr3 %>
</p>

<p>
  <strong>Ship address block addr4:</strong>
  <%= @customer.ship_address_block_addr4 %>
</p>

<p>
  <strong>Ship address block addr5:</strong>
  <%= @customer.ship_address_block_addr5 %>
</p>

<p>
  <strong>Ship address city:</strong>
  <%= @customer.ship_address_city %>
</p>

<p>
  <strong>Ship address state:</strong>
  <%= @customer.ship_address_state %>
</p>

<p>
  <strong>Ship address postal code:</strong>
  <%= @customer.ship_address_postal_code %>
</p>

<p>
  <strong>Ship address country:</strong>
  <%= @customer.ship_address_country %>
</p>

<p>
  <strong>Ship address note:</strong>
  <%= @customer.ship_address_note %>
</p>

<p>
  <strong>Ship to address name:</strong>
  <%= @customer.ship_to_address_name %>
</p>

<p>
  <strong>Ship to address addr1:</strong>
  <%= @customer.ship_to_address_addr1 %>
</p>

<p>
  <strong>Ship to address addr2:</strong>
  <%= @customer.ship_to_address_addr2 %>
</p>

<p>
  <strong>Ship to address addr3:</strong>
  <%= @customer.ship_to_address_addr3 %>
</p>

<p>
  <strong>Ship to address addr4:</strong>
  <%= @customer.ship_to_address_addr4 %>
</p>

<p>
  <strong>Ship to address addr5:</strong>
  <%= @customer.ship_to_address_addr5 %>
</p>

<p>
  <strong>Ship to address city:</strong>
  <%= @customer.ship_to_address_city %>
</p>

<p>
  <strong>Ship to address state:</strong>
  <%= @customer.ship_to_address_state %>
</p>

<p>
  <strong>Ship to address postal code:</strong>
  <%= @customer.ship_to_address_postal_code %>
</p>

<p>
  <strong>Ship to address country:</strong>
  <%= @customer.ship_to_address_country %>
</p>

<p>
  <strong>Ship to address note:</strong>
  <%= @customer.ship_to_address_note %>
</p>

<p>
  <strong>Ship to address default ship to:</strong>
  <%= @customer.ship_to_address_default_ship_to %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @customer.alt_phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @customer.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @customer.cc %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Alt contact:</strong>
  <%= @customer.alt_contact %>
</p>

<p>
  <strong>Additional contact ref contact name:</strong>
  <%= @customer.additional_contact_ref_contact_name %>
</p>

<p>
  <strong>Additional contact ref contact value:</strong>
  <%= @customer.additional_contact_ref_contact_value %>
</p>

<p>
  <strong>Contacts ret list:</strong>
  <%= @customer.contacts_ret_list_id %>
</p>

<p>
  <strong>Customer type ref list:</strong>
  <%= @customer.customer_type_ref_list_id %>
</p>

<p>
  <strong>Terms ref list:</strong>
  <%= @customer.terms_ref_list_id %>
</p>

<p>
  <strong>Sales rep ref list:</strong>
  <%= @customer.sales_rep_ref_list_id %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @customer.balance %>
</p>

<p>
  <strong>Total balance:</strong>
  <%= @customer.total_balance %>
</p>

<p>
  <strong>Sales tax code ref list:</strong>
  <%= @customer.sales_tax_code_ref_list_id %>
</p>

<p>
  <strong>Item sales tax ref list:</strong>
  <%= @customer.item_sales_tax_ref_list_id %>
</p>

<p>
  <strong>Resale number:</strong>
  <%= @customer.resale_number %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @customer.account_number %>
</p>

<p>
  <strong>Credit limit:</strong>
  <%= @customer.credit_limit %>
</p>

<p>
  <strong>Preferred payment method ref list:</strong>
  <%= @customer.preferred_payment_method_ref_list_id %>
</p>

<p>
  <strong>Credit card info credit card number:</strong>
  <%= @customer.credit_card_info_credit_card_number %>
</p>

<p>
  <strong>Credit card info expiration month:</strong>
  <%= @customer.credit_card_info_expiration_month %>
</p>

<p>
  <strong>Credit card info expiration year:</strong>
  <%= @customer.credit_card_info_expiration_year %>
</p>

<p>
  <strong>Credit card info name on card:</strong>
  <%= @customer.credit_card_info_name_on_card %>
</p>

<p>
  <strong>Credit card info credit card address:</strong>
  <%= @customer.credit_card_info_credit_card_address %>
</p>

<p>
  <strong>Credit card info credit card postal code:</strong>
  <%= @customer.credit_card_info_credit_card_postal_code %>
</p>

<p>
  <strong>Job status:</strong>
  <%= @customer.job_status %>
</p>

<p>
  <strong>Job start date:</strong>
  <%= @customer.job_start_date %>
</p>

<p>
  <strong>Job projected end date:</strong>
  <%= @customer.job_projected_end_date %>
</p>

<p>
  <strong>Job end date:</strong>
  <%= @customer.job_end_date %>
</p>

<p>
  <strong>Job desc:</strong>
  <%= @customer.job_desc %>
</p>

<p>
  <strong>Job type ref list:</strong>
  <%= @customer.job_type_ref_list_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @customer.notes %>
</p>

<p>
  <strong>Additional notes ret note:</strong>
  <%= @customer.additional_notes_ret_note_id %>
</p>

<p>
  <strong>Preferred delivery method:</strong>
  <%= @customer.preferred_delivery_method %>
</p>

<p>
  <strong>Price level ref list:</strong>
  <%= @customer.price_level_ref_list_id %>
</p>

<p>
  <strong>External guid:</strong>
  <%= @customer.external_guid %>
</p>

<p>
  <strong>Currency ref list:</strong>
  <%= @customer.currency_ref_list_id %>
</p>

<p>
  <strong>Data ext ret owner:</strong>
  <%= @customer.data_ext_ret_owner_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
