<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase order:</strong>
  <%= @purchase_order_line.purchase_order_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @purchase_order_line.item_id %>
</p>

<p>
  <strong>Item full name:</strong>
  <%= @purchase_order_line.item_full_name %>
</p>

<p>
  <strong>Manufacturer part number:</strong>
  <%= @purchase_order_line.manufacturer_part_number %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @purchase_order_line.desc %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase_order_line.quantity %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @purchase_order_line.unit_of_measure %>
</p>

<p>
  <strong>Override uom set:</strong>
  <%= @purchase_order_line.override_uom_set_id %>
</p>

<p>
  <strong>Override uom set full name:</strong>
  <%= @purchase_order_line.override_uom_set_full_name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @purchase_order_line.rate %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @purchase_order_line.amount %>
</p>

<p>
  <strong>Inventory site location:</strong>
  <%= @purchase_order_line.inventory_site_location_id %>
</p>

<p>
  <strong>Inventory site location full name:</strong>
  <%= @purchase_order_line.inventory_site_location_full_name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @purchase_order_line.customer_id %>
</p>

<p>
  <strong>Customer full name:</strong>
  <%= @purchase_order_line.customer_full_name %>
</p>

<p>
  <strong>Service date:</strong>
  <%= @purchase_order_line.service_date %>
</p>

<p>
  <strong>Received quantity:</strong>
  <%= @purchase_order_line.received_quantity %>
</p>

<p>
  <strong>Unbilled quantity:</strong>
  <%= @purchase_order_line.unbilled_quantity %>
</p>

<p>
  <strong>Is billed:</strong>
  <%= @purchase_order_line.is_billed %>
</p>

<p>
  <strong>Is manually closed:</strong>
  <%= @purchase_order_line.is_manually_closed %>
</p>

<%= link_to 'Back', purchase_order_lines_path %>
