<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Time created</th>
      <th>Time modified</th>
      <th>Edit sequence</th>
      <th>Name</th>
      <th>Full name</th>
      <th>Is active</th>
      <th>Parent</th>
      <th>Sublevel</th>
      <th>Company name</th>
      <th>Salutation</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Job title</th>
      <th>Bill address addr1</th>
      <th>Bill address addr2</th>
      <th>Bill address addr3</th>
      <th>Bill address addr4</th>
      <th>Bill address addr5</th>
      <th>Bill address city</th>
      <th>Bill address state</th>
      <th>Bill address postal code</th>
      <th>Bill address country</th>
      <th>Bill address note</th>
      <th>Bill address block addr1</th>
      <th>Bill address block addr2</th>
      <th>Bill address block addr3</th>
      <th>Bill address block addr4</th>
      <th>Bill address block addr5</th>
      <th>Ship address addr1</th>
      <th>Ship address addr2</th>
      <th>Ship address addr3</th>
      <th>Ship address addr4</th>
      <th>Ship address addr5</th>
      <th>Ship address city</th>
      <th>Ship address state</th>
      <th>Ship address postal code</th>
      <th>Ship address country</th>
      <th>Ship address note</th>
      <th>Ship address block addr1</th>
      <th>Ship address block addr2</th>
      <th>Ship address block addr3</th>
      <th>Ship address block addr4</th>
      <th>Ship address block addr5</th>
      <th>Phone</th>
      <th>Alt phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Cc</th>
      <th>Contact</th>
      <th>Alt contact</th>
      <th>Customer type</th>
      <th>Customer type full name</th>
      <th>Terms</th>
      <th>Terms full name</th>
      <th>Sales rep</th>
      <th>Sales rep full name</th>
      <th>Balance</th>
      <th>Total balance</th>
      <th>Sales tax code</th>
      <th>Sales tax code full name</th>
      <th>Item sales tax</th>
      <th>Item sales tax full name</th>
      <th>Resale number</th>
      <th>Account number</th>
      <th>Preferred payment method</th>
      <th>Preferred payment method full name</th>
      <th>Job status</th>
      <th>Job start date</th>
      <th>Job projected end date</th>
      <th>Job end date</th>
      <th>Job desc</th>
      <th>Job type</th>
      <th>Job type full name</th>
      <th>Preferred delivery method</th>
      <th>Price level</th>
      <th>Price level full name</th>
      <th>Primary contact</th>
      <th>Primary email</th>
      <th>Primary phone</th>
      <th>Project pkey</th>
      <th>Creationtimestamp</th>
      <th>Creationuser</th>
      <th>Lastmodificationtimestamp</th>
      <th>Lastmodificationuser</th>
      <th>Fk customers pkey</th>
      <th>Fk jobs pkey</th>
      <th>Fk progman employees pkey</th>
      <th>Fk projman employees pkey</th>
      <th>Fk techlead employees pkey</th>
      <th>Fk foreman employees pkey</th>
      <th>Fk techforeman employees pkey</th>
      <th>Project name</th>
      <th>Project type</th>
      <th>Project datestartestimated</th>
      <th>Project dateendestimated</th>
      <th>Project roughinstart</th>
      <th>Project roughinend</th>
      <th>Project deviceinstallstart</th>
      <th>Project deviceinstallend</th>
      <th>Project commissioningstart</th>
      <th>Project commissioningend</th>
      <th>Project scopetext</th>
      <th>Project namesalutation</th>
      <th>Project namefirst</th>
      <th>Project namemiddle</th>
      <th>Project namelast</th>
      <th>Project phonemain</th>
      <th>Project emailmain</th>
      <th>Project phonealternate</th>
      <th>Project emailcc</th>
      <th>Project phonecell</th>
      <th>Project phonefax</th>
      <th>Project address1</th>
      <th>Project address2</th>
      <th>Project address parking1</th>
      <th>Project address parking2</th>
      <th>Project city</th>
      <th>Project state</th>
      <th>Project zip</th>
      <th>Project park 1 address</th>
      <th>Project park 1 address city</th>
      <th>Project park 1 address state</th>
      <th>Project park 1 address zip</th>
      <th>Project park 2 address</th>
      <th>Project park 2 address city</th>
      <th>Project park 2 address state</th>
      <th>Project park 2 address zip</th>
      <th>Project percentcomplete</th>
      <th>Project isclosed</th>
      <th>Project status</th>
      <th>Project quotedtechlabor</th>
      <th>Project quotedrilabor</th>
      <th>Project quoteddilabor</th>
      <th>Project quotedcolabor</th>
      <th>Project quotedenglabor</th>
      <th>Project quotedpmlabor</th>
      <th>Project usecase</th>
      <th>Project quotedlgstlabor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.time_created %></td>
        <td><%= project.time_modified %></td>
        <td><%= project.edit_sequence %></td>
        <td><%= project.name %></td>
        <td><%= project.full_name %></td>
        <td><%= project.is_active %></td>
        <td><%= project.parent_id %></td>
        <td><%= project.sublevel %></td>
        <td><%= project.company_name %></td>
        <td><%= project.salutation %></td>
        <td><%= project.first_name %></td>
        <td><%= project.middle_name %></td>
        <td><%= project.last_name %></td>
        <td><%= project.job_title %></td>
        <td><%= project.bill_address_addr1 %></td>
        <td><%= project.bill_address_addr2 %></td>
        <td><%= project.bill_address_addr3 %></td>
        <td><%= project.bill_address_addr4 %></td>
        <td><%= project.bill_address_addr5 %></td>
        <td><%= project.bill_address_city %></td>
        <td><%= project.bill_address_state %></td>
        <td><%= project.bill_address_postal_code %></td>
        <td><%= project.bill_address_country %></td>
        <td><%= project.bill_address_note %></td>
        <td><%= project.bill_address_block_addr1 %></td>
        <td><%= project.bill_address_block_addr2 %></td>
        <td><%= project.bill_address_block_addr3 %></td>
        <td><%= project.bill_address_block_addr4 %></td>
        <td><%= project.bill_address_block_addr5 %></td>
        <td><%= project.ship_address_addr1 %></td>
        <td><%= project.ship_address_addr2 %></td>
        <td><%= project.ship_address_addr3 %></td>
        <td><%= project.ship_address_addr4 %></td>
        <td><%= project.ship_address_addr5 %></td>
        <td><%= project.ship_address_city %></td>
        <td><%= project.ship_address_state %></td>
        <td><%= project.ship_address_postal_code %></td>
        <td><%= project.ship_address_country %></td>
        <td><%= project.ship_address_note %></td>
        <td><%= project.ship_address_block_addr1 %></td>
        <td><%= project.ship_address_block_addr2 %></td>
        <td><%= project.ship_address_block_addr3 %></td>
        <td><%= project.ship_address_block_addr4 %></td>
        <td><%= project.ship_address_block_addr5 %></td>
        <td><%= project.phone %></td>
        <td><%= project.alt_phone %></td>
        <td><%= project.fax %></td>
        <td><%= project.email %></td>
        <td><%= project.cc %></td>
        <td><%= project.contact %></td>
        <td><%= project.alt_contact %></td>
        <td><%= project.customer_type_id %></td>
        <td><%= project.customer_type_full_name %></td>
        <td><%= project.terms_id %></td>
        <td><%= project.terms_full_name %></td>
        <td><%= project.sales_rep_id %></td>
        <td><%= project.sales_rep_full_name %></td>
        <td><%= project.balance %></td>
        <td><%= project.total_balance %></td>
        <td><%= project.sales_tax_code_id %></td>
        <td><%= project.sales_tax_code_full_name %></td>
        <td><%= project.item_sales_tax_id %></td>
        <td><%= project.item_sales_tax_full_name %></td>
        <td><%= project.resale_number %></td>
        <td><%= project.account_number %></td>
        <td><%= project.preferred_payment_method_id %></td>
        <td><%= project.preferred_payment_method_full_name %></td>
        <td><%= project.job_status %></td>
        <td><%= project.job_start_date %></td>
        <td><%= project.job_projected_end_date %></td>
        <td><%= project.job_end_date %></td>
        <td><%= project.job_desc %></td>
        <td><%= project.job_type_id %></td>
        <td><%= project.job_type_full_name %></td>
        <td><%= project.preferred_delivery_method %></td>
        <td><%= project.price_level_id %></td>
        <td><%= project.price_level_full_name %></td>
        <td><%= project.primary_contact %></td>
        <td><%= project.primary_email %></td>
        <td><%= project.primary_phone %></td>
        <td><%= project.Project_PKEY %></td>
        <td><%= project.CreationTimeStamp %></td>
        <td><%= project.CreationUser %></td>
        <td><%= project.LastModificationTimeStamp %></td>
        <td><%= project.LastModificationUser %></td>
        <td><%= project.FK_Customers_PKEY %></td>
        <td><%= project.FK_Jobs_PKEY %></td>
        <td><%= project.FK_ProgMan_Employees_PKEY %></td>
        <td><%= project.FK_ProjMan_Employees_PKEY %></td>
        <td><%= project.FK_TechLead_Employees_PKEY %></td>
        <td><%= project.FK_Foreman_Employees_PKEY %></td>
        <td><%= project.FK_TechForeman_Employees_PKEY %></td>
        <td><%= project.Project_Name %></td>
        <td><%= project.Project_Type %></td>
        <td><%= project.Project_DateStartEstimated %></td>
        <td><%= project.Project_DateEndEstimated %></td>
        <td><%= project.Project_RoughInStart %></td>
        <td><%= project.Project_RoughInEnd %></td>
        <td><%= project.Project_DeviceInstallStart %></td>
        <td><%= project.Project_DeviceInstallEnd %></td>
        <td><%= project.Project_CommissioningStart %></td>
        <td><%= project.Project_CommissioningEnd %></td>
        <td><%= project.Project_ScopeText %></td>
        <td><%= project.Project_NameSalutation %></td>
        <td><%= project.Project_NameFirst %></td>
        <td><%= project.Project_NameMiddle %></td>
        <td><%= project.Project_NameLast %></td>
        <td><%= project.Project_PhoneMain %></td>
        <td><%= project.Project_EmailMain %></td>
        <td><%= project.Project_PhoneAlternate %></td>
        <td><%= project.Project_EmailCC %></td>
        <td><%= project.Project_PhoneCell %></td>
        <td><%= project.Project_PhoneFax %></td>
        <td><%= project.Project_Address1 %></td>
        <td><%= project.Project_Address2 %></td>
        <td><%= project.Project_Address_Parking1 %></td>
        <td><%= project.Project_Address_Parking2 %></td>
        <td><%= project.Project_City %></td>
        <td><%= project.Project_State %></td>
        <td><%= project.Project_Zip %></td>
        <td><%= project.Project_Park_1_Address %></td>
        <td><%= project.Project_Park_1_Address_City %></td>
        <td><%= project.Project_Park_1_Address_State %></td>
        <td><%= project.Project_Park_1_Address_Zip %></td>
        <td><%= project.Project_Park_2_Address %></td>
        <td><%= project.Project_Park_2_Address_City %></td>
        <td><%= project.Project_Park_2_Address_State %></td>
        <td><%= project.Project_Park_2_Address_Zip %></td>
        <td><%= project.Project_PercentComplete %></td>
        <td><%= project.Project_IsClosed %></td>
        <td><%= project.Project_Status %></td>
        <td><%= project.Project_QuotedTechLabor %></td>
        <td><%= project.Project_QuotedRILabor %></td>
        <td><%= project.Project_QuotedDILabor %></td>
        <td><%= project.Project_QuotedCOLabor %></td>
        <td><%= project.Project_QuotedEngLabor %></td>
        <td><%= project.Project_QuotedPMLabor %></td>
        <td><%= project.Project_UseCase %></td>
        <td><%= project.Project_QuotedLgstLabor %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
