<p id="notice"><%= notice %></p>

<p>
  <strong>Time created:</strong>
  <%= @project.time_created %>
</p>

<p>
  <strong>Time modified:</strong>
  <%= @project.time_modified %>
</p>

<p>
  <strong>Edit sequence:</strong>
  <%= @project.edit_sequence %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @project.full_name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @project.is_active %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @project.parent_id %>
</p>

<p>
  <strong>Sublevel:</strong>
  <%= @project.sublevel %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @project.company_name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @project.salutation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @project.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @project.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @project.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @project.job_title %>
</p>

<p>
  <strong>Bill address addr1:</strong>
  <%= @project.bill_address_addr1 %>
</p>

<p>
  <strong>Bill address addr2:</strong>
  <%= @project.bill_address_addr2 %>
</p>

<p>
  <strong>Bill address addr3:</strong>
  <%= @project.bill_address_addr3 %>
</p>

<p>
  <strong>Bill address addr4:</strong>
  <%= @project.bill_address_addr4 %>
</p>

<p>
  <strong>Bill address addr5:</strong>
  <%= @project.bill_address_addr5 %>
</p>

<p>
  <strong>Bill address city:</strong>
  <%= @project.bill_address_city %>
</p>

<p>
  <strong>Bill address state:</strong>
  <%= @project.bill_address_state %>
</p>

<p>
  <strong>Bill address postal code:</strong>
  <%= @project.bill_address_postal_code %>
</p>

<p>
  <strong>Bill address country:</strong>
  <%= @project.bill_address_country %>
</p>

<p>
  <strong>Bill address note:</strong>
  <%= @project.bill_address_note %>
</p>

<p>
  <strong>Bill address block addr1:</strong>
  <%= @project.bill_address_block_addr1 %>
</p>

<p>
  <strong>Bill address block addr2:</strong>
  <%= @project.bill_address_block_addr2 %>
</p>

<p>
  <strong>Bill address block addr3:</strong>
  <%= @project.bill_address_block_addr3 %>
</p>

<p>
  <strong>Bill address block addr4:</strong>
  <%= @project.bill_address_block_addr4 %>
</p>

<p>
  <strong>Bill address block addr5:</strong>
  <%= @project.bill_address_block_addr5 %>
</p>

<p>
  <strong>Ship address addr1:</strong>
  <%= @project.ship_address_addr1 %>
</p>

<p>
  <strong>Ship address addr2:</strong>
  <%= @project.ship_address_addr2 %>
</p>

<p>
  <strong>Ship address addr3:</strong>
  <%= @project.ship_address_addr3 %>
</p>

<p>
  <strong>Ship address addr4:</strong>
  <%= @project.ship_address_addr4 %>
</p>

<p>
  <strong>Ship address addr5:</strong>
  <%= @project.ship_address_addr5 %>
</p>

<p>
  <strong>Ship address city:</strong>
  <%= @project.ship_address_city %>
</p>

<p>
  <strong>Ship address state:</strong>
  <%= @project.ship_address_state %>
</p>

<p>
  <strong>Ship address postal code:</strong>
  <%= @project.ship_address_postal_code %>
</p>

<p>
  <strong>Ship address country:</strong>
  <%= @project.ship_address_country %>
</p>

<p>
  <strong>Ship address note:</strong>
  <%= @project.ship_address_note %>
</p>

<p>
  <strong>Ship address block addr1:</strong>
  <%= @project.ship_address_block_addr1 %>
</p>

<p>
  <strong>Ship address block addr2:</strong>
  <%= @project.ship_address_block_addr2 %>
</p>

<p>
  <strong>Ship address block addr3:</strong>
  <%= @project.ship_address_block_addr3 %>
</p>

<p>
  <strong>Ship address block addr4:</strong>
  <%= @project.ship_address_block_addr4 %>
</p>

<p>
  <strong>Ship address block addr5:</strong>
  <%= @project.ship_address_block_addr5 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @project.phone %>
</p>

<p>
  <strong>Alt phone:</strong>
  <%= @project.alt_phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @project.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @project.cc %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @project.contact %>
</p>

<p>
  <strong>Alt contact:</strong>
  <%= @project.alt_contact %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @project.customer_type_id %>
</p>

<p>
  <strong>Customer type full name:</strong>
  <%= @project.customer_type_full_name %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @project.terms_id %>
</p>

<p>
  <strong>Terms full name:</strong>
  <%= @project.terms_full_name %>
</p>

<p>
  <strong>Sales rep:</strong>
  <%= @project.sales_rep_id %>
</p>

<p>
  <strong>Sales rep full name:</strong>
  <%= @project.sales_rep_full_name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @project.balance %>
</p>

<p>
  <strong>Total balance:</strong>
  <%= @project.total_balance %>
</p>

<p>
  <strong>Sales tax code:</strong>
  <%= @project.sales_tax_code_id %>
</p>

<p>
  <strong>Sales tax code full name:</strong>
  <%= @project.sales_tax_code_full_name %>
</p>

<p>
  <strong>Item sales tax:</strong>
  <%= @project.item_sales_tax_id %>
</p>

<p>
  <strong>Item sales tax full name:</strong>
  <%= @project.item_sales_tax_full_name %>
</p>

<p>
  <strong>Resale number:</strong>
  <%= @project.resale_number %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @project.account_number %>
</p>

<p>
  <strong>Preferred payment method:</strong>
  <%= @project.preferred_payment_method_id %>
</p>

<p>
  <strong>Preferred payment method full name:</strong>
  <%= @project.preferred_payment_method_full_name %>
</p>

<p>
  <strong>Job status:</strong>
  <%= @project.job_status %>
</p>

<p>
  <strong>Job start date:</strong>
  <%= @project.job_start_date %>
</p>

<p>
  <strong>Job projected end date:</strong>
  <%= @project.job_projected_end_date %>
</p>

<p>
  <strong>Job end date:</strong>
  <%= @project.job_end_date %>
</p>

<p>
  <strong>Job desc:</strong>
  <%= @project.job_desc %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @project.job_type_id %>
</p>

<p>
  <strong>Job type full name:</strong>
  <%= @project.job_type_full_name %>
</p>

<p>
  <strong>Preferred delivery method:</strong>
  <%= @project.preferred_delivery_method %>
</p>

<p>
  <strong>Price level:</strong>
  <%= @project.price_level_id %>
</p>

<p>
  <strong>Price level full name:</strong>
  <%= @project.price_level_full_name %>
</p>

<p>
  <strong>Primary contact:</strong>
  <%= @project.primary_contact %>
</p>

<p>
  <strong>Primary email:</strong>
  <%= @project.primary_email %>
</p>

<p>
  <strong>Primary phone:</strong>
  <%= @project.primary_phone %>
</p>

<p>
  <strong>Project pkey:</strong>
  <%= @project.Project_PKEY %>
</p>

<p>
  <strong>Creationtimestamp:</strong>
  <%= @project.CreationTimeStamp %>
</p>

<p>
  <strong>Creationuser:</strong>
  <%= @project.CreationUser %>
</p>

<p>
  <strong>Lastmodificationtimestamp:</strong>
  <%= @project.LastModificationTimeStamp %>
</p>

<p>
  <strong>Lastmodificationuser:</strong>
  <%= @project.LastModificationUser %>
</p>

<p>
  <strong>Fk customers pkey:</strong>
  <%= @project.FK_Customers_PKEY %>
</p>

<p>
  <strong>Fk jobs pkey:</strong>
  <%= @project.FK_Jobs_PKEY %>
</p>

<p>
  <strong>Fk progman employees pkey:</strong>
  <%= @project.FK_ProgMan_Employees_PKEY %>
</p>

<p>
  <strong>Fk projman employees pkey:</strong>
  <%= @project.FK_ProjMan_Employees_PKEY %>
</p>

<p>
  <strong>Fk techlead employees pkey:</strong>
  <%= @project.FK_TechLead_Employees_PKEY %>
</p>

<p>
  <strong>Fk foreman employees pkey:</strong>
  <%= @project.FK_Foreman_Employees_PKEY %>
</p>

<p>
  <strong>Fk techforeman employees pkey:</strong>
  <%= @project.FK_TechForeman_Employees_PKEY %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @project.Project_Name %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @project.Project_Type %>
</p>

<p>
  <strong>Project datestartestimated:</strong>
  <%= @project.Project_DateStartEstimated %>
</p>

<p>
  <strong>Project dateendestimated:</strong>
  <%= @project.Project_DateEndEstimated %>
</p>

<p>
  <strong>Project roughinstart:</strong>
  <%= @project.Project_RoughInStart %>
</p>

<p>
  <strong>Project roughinend:</strong>
  <%= @project.Project_RoughInEnd %>
</p>

<p>
  <strong>Project deviceinstallstart:</strong>
  <%= @project.Project_DeviceInstallStart %>
</p>

<p>
  <strong>Project deviceinstallend:</strong>
  <%= @project.Project_DeviceInstallEnd %>
</p>

<p>
  <strong>Project commissioningstart:</strong>
  <%= @project.Project_CommissioningStart %>
</p>

<p>
  <strong>Project commissioningend:</strong>
  <%= @project.Project_CommissioningEnd %>
</p>

<p>
  <strong>Project scopetext:</strong>
  <%= @project.Project_ScopeText %>
</p>

<p>
  <strong>Project namesalutation:</strong>
  <%= @project.Project_NameSalutation %>
</p>

<p>
  <strong>Project namefirst:</strong>
  <%= @project.Project_NameFirst %>
</p>

<p>
  <strong>Project namemiddle:</strong>
  <%= @project.Project_NameMiddle %>
</p>

<p>
  <strong>Project namelast:</strong>
  <%= @project.Project_NameLast %>
</p>

<p>
  <strong>Project phonemain:</strong>
  <%= @project.Project_PhoneMain %>
</p>

<p>
  <strong>Project emailmain:</strong>
  <%= @project.Project_EmailMain %>
</p>

<p>
  <strong>Project phonealternate:</strong>
  <%= @project.Project_PhoneAlternate %>
</p>

<p>
  <strong>Project emailcc:</strong>
  <%= @project.Project_EmailCC %>
</p>

<p>
  <strong>Project phonecell:</strong>
  <%= @project.Project_PhoneCell %>
</p>

<p>
  <strong>Project phonefax:</strong>
  <%= @project.Project_PhoneFax %>
</p>

<p>
  <strong>Project address1:</strong>
  <%= @project.Project_Address1 %>
</p>

<p>
  <strong>Project address2:</strong>
  <%= @project.Project_Address2 %>
</p>

<p>
  <strong>Project address parking1:</strong>
  <%= @project.Project_Address_Parking1 %>
</p>

<p>
  <strong>Project address parking2:</strong>
  <%= @project.Project_Address_Parking2 %>
</p>

<p>
  <strong>Project city:</strong>
  <%= @project.Project_City %>
</p>

<p>
  <strong>Project state:</strong>
  <%= @project.Project_State %>
</p>

<p>
  <strong>Project zip:</strong>
  <%= @project.Project_Zip %>
</p>

<p>
  <strong>Project park 1 address:</strong>
  <%= @project.Project_Park_1_Address %>
</p>

<p>
  <strong>Project park 1 address city:</strong>
  <%= @project.Project_Park_1_Address_City %>
</p>

<p>
  <strong>Project park 1 address state:</strong>
  <%= @project.Project_Park_1_Address_State %>
</p>

<p>
  <strong>Project park 1 address zip:</strong>
  <%= @project.Project_Park_1_Address_Zip %>
</p>

<p>
  <strong>Project park 2 address:</strong>
  <%= @project.Project_Park_2_Address %>
</p>

<p>
  <strong>Project park 2 address city:</strong>
  <%= @project.Project_Park_2_Address_City %>
</p>

<p>
  <strong>Project park 2 address state:</strong>
  <%= @project.Project_Park_2_Address_State %>
</p>

<p>
  <strong>Project park 2 address zip:</strong>
  <%= @project.Project_Park_2_Address_Zip %>
</p>

<p>
  <strong>Project percentcomplete:</strong>
  <%= @project.Project_PercentComplete %>
</p>

<p>
  <strong>Project isclosed:</strong>
  <%= @project.Project_IsClosed %>
</p>

<p>
  <strong>Project status:</strong>
  <%= @project.Project_Status %>
</p>

<p>
  <strong>Project quotedtechlabor:</strong>
  <%= @project.Project_QuotedTechLabor %>
</p>

<p>
  <strong>Project quotedrilabor:</strong>
  <%= @project.Project_QuotedRILabor %>
</p>

<p>
  <strong>Project quoteddilabor:</strong>
  <%= @project.Project_QuotedDILabor %>
</p>

<p>
  <strong>Project quotedcolabor:</strong>
  <%= @project.Project_QuotedCOLabor %>
</p>

<p>
  <strong>Project quotedenglabor:</strong>
  <%= @project.Project_QuotedEngLabor %>
</p>

<p>
  <strong>Project quotedpmlabor:</strong>
  <%= @project.Project_QuotedPMLabor %>
</p>

<p>
  <strong>Project usecase:</strong>
  <%= @project.Project_UseCase %>
</p>

<p>
  <strong>Project quotedlgstlabor:</strong>
  <%= @project.Project_QuotedLgstLabor %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
