<p id="notice"><%= notice %></p>

<h1>Invoice Lines</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Item</th>
      <th>Item full name</th>
      <th>Desc</th>
      <th>Quantity</th>
      <th>Unit of measure</th>
      <th>Override uom set</th>
      <th>Override uom set full name</th>
      <th>Rate</th>
      <th>Rate percent</th>
      <th>Amount</th>
      <th>Inventory site</th>
      <th>Inventory site full name</th>
      <th>Inventory site location</th>
      <th>Inventory site location full name</th>
      <th>Serial number</th>
      <th>Lot number</th>
      <th>Service date</th>
      <th>Sales tax code</th>
      <th>Sales tax code full name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_lines.each do |invoice_line| %>
      <tr>
        <td><%= invoice_line.invoice_id %></td>
        <td><%= invoice_line.item_id %></td>
        <td><%= invoice_line.item_full_name %></td>
        <td><%= invoice_line.desc %></td>
        <td><%= invoice_line.quantity %></td>
        <td><%= invoice_line.unit_of_measure %></td>
        <td><%= invoice_line.override_uom_set_id %></td>
        <td><%= invoice_line.override_uom_set_full_name %></td>
        <td><%= invoice_line.rate %></td>
        <td><%= invoice_line.rate_percent %></td>
        <td><%= invoice_line.amount %></td>
        <td><%= invoice_line.inventory_site_id %></td>
        <td><%= invoice_line.inventory_site_full_name %></td>
        <td><%= invoice_line.inventory_site_location_id %></td>
        <td><%= invoice_line.inventory_site_location_full_name %></td>
        <td><%= invoice_line.serial_number %></td>
        <td><%= invoice_line.lot_number %></td>
        <td><%= invoice_line.service_date %></td>
        <td><%= invoice_line.sales_tax_code_id %></td>
        <td><%= invoice_line.sales_tax_code_full_name %></td>
        <td><%= link_to 'Show', invoice_line %></td>
        <td><%= link_to 'Edit', edit_invoice_line_path(invoice_line) %></td>
        <td><%= link_to 'Destroy', invoice_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Line', new_invoice_line_path %>
