<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice_line.invoice_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @invoice_line.item_id %>
</p>

<p>
  <strong>Item full name:</strong>
  <%= @invoice_line.item_full_name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @invoice_line.desc %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoice_line.quantity %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @invoice_line.unit_of_measure %>
</p>

<p>
  <strong>Override uom set:</strong>
  <%= @invoice_line.override_uom_set_id %>
</p>

<p>
  <strong>Override uom set full name:</strong>
  <%= @invoice_line.override_uom_set_full_name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @invoice_line.rate %>
</p>

<p>
  <strong>Rate percent:</strong>
  <%= @invoice_line.rate_percent %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice_line.amount %>
</p>

<p>
  <strong>Inventory site:</strong>
  <%= @invoice_line.inventory_site_id %>
</p>

<p>
  <strong>Inventory site full name:</strong>
  <%= @invoice_line.inventory_site_full_name %>
</p>

<p>
  <strong>Inventory site location:</strong>
  <%= @invoice_line.inventory_site_location_id %>
</p>

<p>
  <strong>Inventory site location full name:</strong>
  <%= @invoice_line.inventory_site_location_full_name %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @invoice_line.serial_number %>
</p>

<p>
  <strong>Lot number:</strong>
  <%= @invoice_line.lot_number %>
</p>

<p>
  <strong>Service date:</strong>
  <%= @invoice_line.service_date %>
</p>

<p>
  <strong>Sales tax code:</strong>
  <%= @invoice_line.sales_tax_code_id %>
</p>

<p>
  <strong>Sales tax code full name:</strong>
  <%= @invoice_line.sales_tax_code_full_name %>
</p>

<%= link_to 'Back', invoice_lines_path %>
