<div id="leftcolumn">
<div class="urbangreymenu">
<!-- Responsive navigation is a variation of this >>>> http://www.cssscript.com/pure-css-mobile-compatible-responsive-dropdown-menu/ -->
<nav>
 <label for="drop" class="toggle"><div class="menuBars"></div><div class="menuBars"></div><div class="menuBars"></div></label>
  <input type="checkbox" id="drop">
  <ul class="menu">

    <li><h3 class="headerbar">Thresher Portal</h3></li>
    <!-- TODO: Fix this so it doesn't break if current user is not an employee! (if we want to have guests log in, etc) -->
	  <li><%= link_to "#{@current_user.username}'s Start Page", start_page_path%></li>
	  <li><%= link_to "Crew Schedule", "#"%></li>

    <li><h3 class="headerbar">General Info</h3></li><li>
	  <li><%= link_to "Shark Tube", "https://www.alopias.com/Login/portal/SQL/SharkTube/index.php", target: "_blank" %></li>
	  <li><%= link_to "Outlook Web App / Email Login", "https://tcp-owa.alopias.com/owa", target: "_blank" %></li>

	  <li><%= link_to "Knowledge Base", "http://wordpress.alopias.com", target: "_blank" %></li>
	  <li><%= link_to "Knowledge Base IT", "http://wordpressit.alopias.com", target: "_blank" %></li>
	  <li><%= link_to "Paychex 0400-2084", "https://eservices.paychex.com/secure", target: "_blank" %></li>


	  <li><h3 class="headerbar">Employee Info</h3></li>
	  <li><%= link_to "Time Card", "#" %></li>
	  <li><%= link_to "Employee List", "#" %></li>
	  <li><%= link_to "CTS Pre-Test", "#" %></li>
	  <li><%= link_to "Certificate List", "#" %></li>
	  <li><%= link_to "Expense Report Form", "#" %></li>
	  <li><%= link_to "Feedback", "#" %></li>


	  <li><h3 class="headerbar">Company Display</h3></li>
	  <li><%= link_to "Company Display", "#" %></li>
	  <li><%= link_to "Project List", "#" %></li>
	  <li><%= link_to "Est Status List", "#" %></li>
	  <li><%= link_to "SO Status List", "#" %></li>
	  <li><%= link_to "PO Status List", "#" %></li>
	  <li><%= link_to "Inv Status List", "#" %></li>
	  <li><%= link_to "Engineering Forecast", "#" %></li>
	  <li><%= link_to "Company Display Report", "#" %></li>
	  <li><%= link_to "Invoice and Payments Report", "#" %></li>
	  <li><%= link_to "Forecasting Tool", "#" %></li>
	  <li><%= link_to "Ticket List", "#" %></li>



	  <li><h3 class="headerbar">Maintenance</h3></li>
	  <li><%= link_to "Maintenance - New Ticket", "#" %></li>
	  <li><%= link_to "Maintenance - List Tickets", "#" %></li>
	  <li><%= link_to "New RMA", "#" %></li>
	  <li><%= link_to "RMA List", "#" %></li>









	  <li><h3 class="headerbar">Logistics</h3></li>
	  <li><%= link_to "PO Search", "#" %></li>
	  <li><%= link_to "Retail Report", "#" %></li>





	  <li><h3 class="headerbar">Administration</h3></li>
	  <li><%= link_to "Inventory", "#" %></li>
	  <li><%= link_to "User Folder Settings", "#" %></li>
	  <li><%= link_to "User Menu Settings", "#" %></li>
	  <li><%= link_to "Access Log", "#" %></li>
	  <li><%= link_to "Inventory", "#" %></li>

	  <li><h3 class="headerbar">SQL</h3></li>
	  <li><%= link_to "Time Card Admin", "#" %></li>
	  <li><%= link_to "Time Card Supervisor", "#" %></li>
	  <li><%= link_to "Holidays Admin", "#" %></li>
	  <li><%= link_to "Project Phase Report", "#" %></li>
	  <li><%= link_to "Project Transaction Tracker", "#" %></li>
	  <li><%= link_to "Function Map", "#" %></li>
	  <li><%= link_to "Auto Ticket Assignment", "#" %></li>
	  <li><%= link_to "Time Card Check Locked", "#" %></li>

	  <li><br><h3 class="headerbar"></h3></li>
    <li><%= link_to "Logout", logout_path, method: :destroy %></li>



  </ul>

</nav>
</div>
</div>