<p id="notice"><%= notice %></p>

<h1>Sales Orders</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Time created</th>
      <th>Time modified</th>
      <th>Edit sequence</th>
      <th>Txn number</th>
      <th>Customer</th>
      <th>Customer full name</th>
      <th>Template</th>
      <th>Template full name</th>
      <th>Txn date</th>
      <th>Ref number</th>
      <th>Bill address addr1</th>
      <th>Bill address addr2</th>
      <th>Bill address addr3</th>
      <th>Bill address addr4</th>
      <th>Bill address addr5</th>
      <th>Bill address city</th>
      <th>Bill address state</th>
      <th>Bill address postal code</th>
      <th>Bill address country</th>
      <th>Bill address note</th>
      <th>Bill address block addr1</th>
      <th>Bill address block addr2</th>
      <th>Bill address block addr3</th>
      <th>Bill address block addr4</th>
      <th>Bill address block addr5</th>
      <th>Ship address addr1</th>
      <th>Ship address addr2</th>
      <th>Ship address addr3</th>
      <th>Ship address addr4</th>
      <th>Ship address addr5</th>
      <th>Ship address city</th>
      <th>Ship address state</th>
      <th>Ship address postal code</th>
      <th>Ship address country</th>
      <th>Ship address note</th>
      <th>Ship address block addr1</th>
      <th>Ship address block addr2</th>
      <th>Ship address block addr3</th>
      <th>Ship address block addr4</th>
      <th>Ship address block addr5</th>
      <th>Po number</th>
      <th>Terms</th>
      <th>Terms full name</th>
      <th>Due date</th>
      <th>Sales rep</th>
      <th>Sales rep full name</th>
      <th>Fob</th>
      <th>Ship date</th>
      <th>Ship method</th>
      <th>Ship method full name</th>
      <th>Subtotal</th>
      <th>Item sales tax</th>
      <th>Item sales tax full name</th>
      <th>Sales tax percentage</th>
      <th>Sales tax total</th>
      <th>Total amount</th>
      <th>Is manually closed</th>
      <th>Is fully invoiced</th>
      <th>Memo</th>
      <th>Customer msg</th>
      <th>Customer msg full name</th>
      <th>Is to be printed</th>
      <th>Is to be emailed</th>
      <th>Customer sales tax code</th>
      <th>Customer sales tax code full name</th>
      <th>Linked txn</th>
      <th>Linked txn type</th>
      <th>Linked txn date</th>
      <th>Linked txn ref number</th>
      <th>Linked txn link type</th>
      <th>Linked txn amount</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_orders.each do |sales_order| %>
      <tr>
        <td><%= sales_order.id %></td>
        <td><%= sales_order.time_created %></td>
        <td><%= sales_order.time_modified %></td>
        <td><%= sales_order.edit_sequence %></td>
        <td><%= sales_order.txn_number %></td>
        <td><%= sales_order.customer_id %></td>
        <td><%= sales_order.customer_full_name %></td>
        <td><%= sales_order.template_id %></td>
        <td><%= sales_order.template_full_name %></td>
        <td><%= sales_order.txn_date %></td>
        <td><%= sales_order.ref_number %></td>
        <td><%= sales_order.bill_address_addr1 %></td>
        <td><%= sales_order.bill_address_addr2 %></td>
        <td><%= sales_order.bill_address_addr3 %></td>
        <td><%= sales_order.bill_address_addr4 %></td>
        <td><%= sales_order.bill_address_addr5 %></td>
        <td><%= sales_order.bill_address_city %></td>
        <td><%= sales_order.bill_address_state %></td>
        <td><%= sales_order.bill_address_postal_code %></td>
        <td><%= sales_order.bill_address_country %></td>
        <td><%= sales_order.bill_address_note %></td>
        <td><%= sales_order.bill_address_block_addr1 %></td>
        <td><%= sales_order.bill_address_block_addr2 %></td>
        <td><%= sales_order.bill_address_block_addr3 %></td>
        <td><%= sales_order.bill_address_block_addr4 %></td>
        <td><%= sales_order.bill_address_block_addr5 %></td>
        <td><%= sales_order.ship_address_addr1 %></td>
        <td><%= sales_order.ship_address_addr2 %></td>
        <td><%= sales_order.ship_address_addr3 %></td>
        <td><%= sales_order.ship_address_addr4 %></td>
        <td><%= sales_order.ship_address_addr5 %></td>
        <td><%= sales_order.ship_address_city %></td>
        <td><%= sales_order.ship_address_state %></td>
        <td><%= sales_order.ship_address_postal_code %></td>
        <td><%= sales_order.ship_address_country %></td>
        <td><%= sales_order.ship_address_note %></td>
        <td><%= sales_order.ship_address_block_addr1 %></td>
        <td><%= sales_order.ship_address_block_addr2 %></td>
        <td><%= sales_order.ship_address_block_addr3 %></td>
        <td><%= sales_order.ship_address_block_addr4 %></td>
        <td><%= sales_order.ship_address_block_addr5 %></td>
        <td><%= sales_order.po_number %></td>
        <td><%= sales_order.terms_id %></td>
        <td><%= sales_order.terms_full_name %></td>
        <td><%= sales_order.due_date %></td>
        <td><%= sales_order.sales_rep_id %></td>
        <td><%= sales_order.sales_rep_full_name %></td>
        <td><%= sales_order.fob %></td>
        <td><%= sales_order.ship_date %></td>
        <td><%= sales_order.ship_method_id %></td>
        <td><%= sales_order.ship_method_full_name %></td>
        <td><%= sales_order.subtotal %></td>
        <td><%= sales_order.item_sales_tax_id %></td>
        <td><%= sales_order.item_sales_tax_full_name %></td>
        <td><%= sales_order.sales_tax_percentage %></td>
        <td><%= sales_order.sales_tax_total %></td>
        <td><%= sales_order.total_amount %></td>
        <td><%= sales_order.is_manually_closed %></td>
        <td><%= sales_order.is_fully_invoiced %></td>
        <td><%= sales_order.memo %></td>
        <td><%= sales_order.customer_msg_id %></td>
        <td><%= sales_order.customer_msg_full_name %></td>
        <td><%= sales_order.is_to_be_printed %></td>
        <td><%= sales_order.is_to_be_emailed %></td>
        <td><%= sales_order.customer_sales_tax_code_id %></td>
        <td><%= sales_order.customer_sales_tax_code_full_name %></td>
        <td><%= sales_order.linked_txn_id %></td>
        <td><%= sales_order.linked_txn_type %></td>
        <td><%= sales_order.linked_txn_date %></td>
        <td><%= sales_order.linked_txn_ref_number %></td>
        <td><%= sales_order.linked_txn_link_type %></td>
        <td><%= sales_order.linked_txn_amount %></td>
        <td><%= link_to 'Show', sales_order %></td>
      </tr>
    <% end %>
  </tbody>
</table>