<p id="notice"><%= notice %></p>

<h1>Sales Order Lines</h1>

<table>
  <thead>
    <tr>
      <th>Sales order</th>
      <th>Item</th>
      <th>Item full name</th>
      <th>Desc</th>
      <th>Quantity</th>
      <th>Unit of measure</th>
      <th>Override uom set</th>
      <th>Override uom set full name</th>
      <th>Rate</th>
      <th>Rate percent</th>
      <th>Amount</th>
      <th>Inventory site</th>
      <th>Inventory site full name</th>
      <th>Inventory site location</th>
      <th>Inventory site location full name</th>
      <th>Serial number</th>
      <th>Lot number</th>
      <th>Sales tax code</th>
      <th>Sales tax code full name</th>
      <th>Invoiced</th>
      <th>Is manually closed</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_order_lines.each do |sales_order_line| %>
      <tr>
        <td><%= sales_order_line.sales_order_id %></td>
        <td><%= sales_order_line.item_id %></td>
        <td><%= sales_order_line.item_full_name %></td>
        <td><%= sales_order_line.desc %></td>
        <td><%= sales_order_line.quantity %></td>
        <td><%= sales_order_line.unit_of_measure %></td>
        <td><%= sales_order_line.override_uom_set_id %></td>
        <td><%= sales_order_line.override_uom_set_full_name %></td>
        <td><%= sales_order_line.rate %></td>
        <td><%= sales_order_line.rate_percent %></td>
        <td><%= sales_order_line.amount %></td>
        <td><%= sales_order_line.inventory_site_id %></td>
        <td><%= sales_order_line.inventory_site_full_name %></td>
        <td><%= sales_order_line.inventory_site_location_id %></td>
        <td><%= sales_order_line.inventory_site_location_full_name %></td>
        <td><%= sales_order_line.serial_number %></td>
        <td><%= sales_order_line.lot_number %></td>
        <td><%= sales_order_line.sales_tax_code_id %></td>
        <td><%= sales_order_line.sales_tax_code_full_name %></td>
        <td><%= sales_order_line.invoiced %></td>
        <td><%= sales_order_line.is_manually_closed %></td>
        <td><%= link_to 'Show', sales_order_line %></td>
      </tr>
    <% end %>
  </tbody>
</table>